[2015-07-28 13:17] toqueteos opened #2 "Integrate golang/go#11030"
Hi there,

I just found your project, also skimmed over pgzip. Is zlib support somewhat planned or it's just not worth it? After checking zlib's source code it's just 150 lines of extensive use of `compress/flate` and `hash/adler32`.

p.d: Thanks for your work! Having https://github.com/golang/go/issues/11030 resolved in an external library compatible with 1.4 is awesome!

[2015-07-28 13:33] klauspost commented on #2
I added zlib. Thanks for the suggestion.

I based the code on 1.4.2, so I actually don't think the patch above is included. However, it seems like it would be trivial to do so.

[2015-07-28 13:33] klauspost commented on #2
(changing the title)

[2015-07-28 13:36] mholt opened #3 "Merge into standard library"
Good work with these optimizations! Is there a reason that these improvements shouldn't/wouldn't be merged into the standard library?

[2015-07-28 14:28] klauspost commented on #2
Merged, all tests pass.

[2015-07-28 14:28] #2 closed

[2015-07-28 14:36] klauspost commented on #3
It is fairly specific to x64 - which IS the main majority I would expect). Without the assembler code, the changes aren't that big, and might be worse on 32 bit systems.

But after a while I might submit it, I would like for it to be field-tested a bit before that.

[2015-07-28 15:03] toqueteos commented on #2
Woah, that was amazingly fast! Thank you very much!

[2015-07-28 15:05] klauspost commented on #2
Yes, it was mostly changes to Inflate, which I haven't touched.

[2015-07-28 16:50] mholt commented on #3
Fair enough. I think the improvements are worth the effort. I'll try to deploy this package in an app and will let you know how it fares. Thanks for sharing!

[2015-07-28 19:42] eaigner commented on #3
Nowadays most machines are x64, so I guess the core lib would definitely benefit from it.

[2015-07-29 09:40] Darren opened #5 "SIGILL: illegal instruction"
Environment:

$ uname -a
Linux test01 2.6.32-504.16.2.el6.x86_64 #1 SMP Wed Apr 22 06:48:29 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

go1.4.2

[code]

[2015-07-29 10:04] klauspost commented on #5
Thanks for reporting! An oversight on my part!

Should be fixed with a `go get -u github.com/klauspost/crc32`.

Sorry for the inconvenience!

[2015-07-29 10:18] Darren commented on #5
wow~~, suck a quick fix! It fixed for me.

Now I have used unzip, tommorrow I should try zip, earlier I have to resort to C zlib, because zlib compress in Go std library is so slow..., using cgo with external lib dependency building, testing in several platforms is really pain in the *ss.

[2015-07-29 10:18] #5 closed

[2015-08-05 17:47] shishkander commented on #3
For **our** workloads (~2GB executables uploaded with gzipping), your package gives about 2x speed gain in my benchmarks on 64bit Linux.

[2015-08-17 15:01] gorakhargosh commented on #3
+1.

Great work!

I'd request you to sent these for code reviews one by one instead
of waiting until all of it is ready. Very large code changes tend to be
hard to review and require setting time apart just for reviewing.

(Have experienced this first-hand on internal CLs.)

Thank you. :)

Cheers,
Yesudeep.

[2015-08-26 12:01] martingartonft commented on #3
Nice work. I've use this successfully in one of our projects.
It would great to get it into the standard library too.  Let me know if there is anything I can do to help with that somehow.

[2015-10-09 02:32] gyf19 opened #9 "brotli support"
It would be nice to have some wrapper or native implementation for golang.

[2015-10-09 07:30] klauspost commented on #9
I have considered it, and it is very high on my todo-list.

[2015-10-09 09:40] gyf19 commented on #9
cool

[2015-10-10 05:42] mholt commented on #3
Just reporting back -- been using this in production for several months now with 0 (known) problems.

[2015-10-28 06:21] dsnet commented on #9
I finished a complete Brotli decoder: https://github.com/dsnet/compress/brotli

[2015-11-17 04:50] toffaletti opened #15 "panic on Writer.Close, runtime error: index out of range"
Unfortunately I don't have a test to reproduce this, but over hundreds of thousands of calls we started seeing a few of these panics:

[code]

We never saw this before I updated our snapshot on Nov 2nd. The previous update was Sep 8th.

[2015-11-17 08:00] klauspost commented on #15
Thanks for the report - I will investigate at once!

[2015-11-17 08:33] klauspost commented on #15
Can you confirm that `deflate.go:594` is also https://github.com/klauspost/compress/blob/master/flate/deflate.go#L594 ?

[2015-11-17 09:17] toffaletti commented on #15
Yes, and unfortunately there are two indexes used on that line. I'm not sure which is out of range.

[2015-11-17 10:04] shishkander commented on #15
@maruel has found this bug too https://code.google.com/p/chromium/issues/detail?id=552697#c4 .
The unittest in our code is a bit large but can reproduce this.

[2015-11-17 14:08] klauspost commented on #15
From the other report it is clear that it is `d.tokens.n` that somehow gets too high. I am trying to recreate a scenario where that happens. Unfortunately my 500k files "webserver" test does not reproduce it.

I am of course continuing work on this.

[2015-11-17 14:16] klauspost commented on #15
OK. Are you checking returned error values?

If you call Write after a write has already failed (in case of the chrominum bug) I can see this error occurring.

`Close` after a failed write will do the same.

Both are of course bugs, and will be fixed - I just want to be sure I haven't overlooked anything.

[2015-11-17 14:40] maruel commented on #15
We reproduce in this case:

- Compress, writing to an io.Pipe().
- Using io.Copy() to write the input data to the compressor.
- Length of data is >= 64kb + 1.
- The read pipe from io.Pipe() is closed in the middle of the stream.

I was planning try to write a regression test before even bothering you about this but too late, eh. :)

[2015-11-17 14:54] maruel commented on #15
@toffaletti (shameless) plug for [panicparse](https://github.com/maruel/panicparse) to make your stack traces shorter.

[2015-11-17 18:13] #15 closed

[2015-11-17 18:14] klauspost commented on #15
Thanks for helping identify this issue. I have merged the fix after testing.

[2015-12-08 07:40] klauspost opened #20 "out-of-bounds read in crc32sseAll"
From https://github.com/klauspost/crc32/issues/4

There is a 1 byte out-of bound read on (length & 7) == 7.

[2015-12-08 09:28] #20 closed

[2015-12-08 10:07] klauspost commented on #20
When length was 7, an extra byte would be read from the input. In rare cases that would hit a page boundary when flushing and crash.

The test has been extended to increase the chance of detecting a situation like this.

[2015-12-10 07:22] derekperkins commented on #3
We're using this and haven't had any issues. Is it too late for 1.6?

[2015-12-10 11:43] klauspost commented on #3
1.6 is closed for new features (and has been for >1 month).

My aim is to submit it at the start of 1.7, so it can live in "tip" for a while.

My aim is to weed out subtle and rare failures like #20, which has gone undetected since the start of the project.

[2015-12-17 13:08] aviau opened #23 "Get rid of the ebook"
Hey,

Would you mind getting rid of the ebook? (```testdata/Mark.Twain-Tom.Sawyer.txt```)

I am packaging compress for Debian and I don't think this book is free software ;). Maybe replace it with gibberish?

[2015-12-17 13:12] aviau opened #24 "Missing BSD license"
Is looks like some of the files are licensed under BSD:

BSD says the following:

You are not respecting this condition, as there is no BSD license in this repository.

Depending on your intentions, you may want to do the following:
 - relicense klauspost/compress under BSD
 - Include the full license on all headers
 - update the headers and mention a ```LICENSE.bsd``` file instead, and then inclu

[2015-12-17 14:31] klauspost commented on #23
I would believe it is public domain.

It is [included in the go language itself](https://github.com/golang/go/tree/master/src/compress/testdata).

[2015-12-17 14:40] #24 closed

[2015-12-21 09:56] #23 closed

[2016-02-14 03:14] #9 closed

[2016-02-17 19:40] klauspost commented on #3
It has begun: https://go-review.googlesource.com/19336

[2016-02-21 21:32] nigeltao opened #44 "snappy/decode.go length can overflow"
snappy/decode.go has this code:

  x = uint(src[s-4]) | uint(src[s-3])<<8 | uint(src[s-2])<<16 | uint(src[s-1])<<24
}
// length always > 0
length = int(x + 1)

That comment isn't always true, if you're on 32-bit ints, and so the subsequent "src[s:s+length]" can panic.

[2016-03-20 15:38] aviau opened #47 "please tag and version this project"
Hello,

Can you please tag and version this project?

I am the Debian Maintainer for compress and versioning would help Debian keep up with development.

[2016-03-21 08:16] klauspost commented on #47
Hi!

How would you prefer this to be done?

All things that are merged to "master" signifies a new "version". Due to the nature of the library there will not be any API breaking changes.

[2016-03-21 15:34] aviau commented on #47
Tagging every time you merge new commits in master would work.

In practice, you may merge many things at the same time so one version after a bunch of commits makes sense.

Would that work for you?

[2016-03-21 15:36] klauspost commented on #47
Not sure. Can't you lock to commits, or what is it for?

[2016-03-21 15:43] aviau commented on #47
Distributions like Debian and Fedora have scripts that monitor upstream websites like GitHub to keep up with version numbers. Instead of checking your repository manually from time to time for updates, some notification mechanism will tell me that there is a new version of klauspost/compress to package. I maintain a lot of packages and checking manually is not possible. Unfortunately, this infrast

[2016-03-21 15:44] klauspost commented on #47
Ok, thanks! I will manually add version tags from time to time.

[2016-03-21 15:46] aviau commented on #47
Thank you! Just close this bug when you create the first that so that I get notified :)

[2016-03-21 15:48] klauspost commented on #47
Done. "v1.0" released.

[2016-03-21 15:48] #47 closed

[2016-03-30 00:28] dsnet opened #50 "flate: regression on efficiency for very short strings"
Using: 9d711f4445beb7f6488148ce04e3b4dc6e72242d

Example link: https://play.golang.org/p/3N7YRHAmGO

When compressing very short strings, the KP version of flate outputs strings larger than what the standard library did, which itself outputted strings larger than what zlib did.

Compressing the string "a" on level 6, outputs the following:

[code]

Where `zlib` is the C library, `std` is the Go1.6

[2016-03-30 06:49] klauspost commented on #50
Correct. "writeBlockDynamic" should check if the size is bigger than "store".

About the additional block for EOF I have noticed it. I was rather going to remove all the EOF stuff from the bit writer. However, adding an EOF boolean to the compressor could also work.

[2016-04-06 02:17] mholt commented on #3
@klauspost Very nice! So this was merged and it looks like Go 1.6.1 comes out very soon. Do you know if your contributions will be in that release? Is this repo ahead of those contributions at all? (Looks like a few commits squeezed in here after being merged into golang/go.)

[2016-04-23 06:28] nigeltao opened #54 "snappy comparison with upstream need updating"
You are obviously free to respond however you want, but FYI the upstream github.com/golang/snappy encoder now implements an asm version of what you call matchLenSSE4, and it (call this "new") now compares favorably with the github.com/klauspost/compress/snappy version (call this "old"):

[code]

For the record, here's the -tags=noasm comparison. The numbers are worse for small inputs but better fo

[2016-05-12 01:29] nigeltao opened #56 "flate: incorrect encoding for level==2 and Flush calls"
This program works for compress/flate but not for "github.com/klauspost/compress/flate"

[code]

[2016-05-27 02:46] nhooyr commented on #3
Have all of these changes been merged into the standard library? Will this package be deprecated?

[2016-08-15 11:34] quochungndvt opened #59 "can't go get this package"
Hi guy
after i reinstalled go revel, i got this error
go get github.com/revel/revel
# cd e:\go\datafirst\src\github.com\klauspost\compress; git pull --ff-only
fatal: Not a git repository (or any of the parent directories): .git
package github.com/klauspost/compress/gzip: exit status 128
package github.com/klauspost/compress/zlib: cannot find package "github.com/klauspost/compress/zlib" in any of:

[2016-08-15 13:13] klauspost commented on #59
delete the "e:\go\datafirst\src\github.com\klauspost" directory. Use `go get github.com/klauspost/compress/...`

[2016-08-15 14:45] quochungndvt commented on #59
thanks guy (y)

[2016-08-15 14:45] #59 closed

[2016-08-20 15:03] klauspost commented on #54
Snappy replaced wit upstream.

[2016-08-20 15:03] #54 closed

[2016-08-20 15:03] #44 closed

[2016-08-20 15:08] klauspost commented on #3
Some of it has been merged, closing the gap to ~10%. The Go deflate has not been rebalanced, so using "standard" is still ~1.5x faster, but loses ~2% in efficiency.

[2016-08-20 15:08] #3 closed

[2016-08-24 10:07] JoeArizona opened #62 "Does Go 1.7 now match this library's speed?"
Hi Klaus – Go 1.7 was released last week and the [release notes](https://golang.org/doc/go1.7) say that `compress/flate` compression speed at the default compression level has doubled.

Is this because your code was incorporated to 1.7? Is your library still faster than 1.7?

Relatedly, I only ever see `DefaultCompression` encoded as -1. When and how does it become the level 6 that it is supposed

[2016-08-24 10:50] klauspost commented on #62
I have backported the Go 1.7 changes int #58 - there is a marginal improvement over current master.

Currently in apples to apples it is about 7% faster, since the Go developers wanted to see if a change could be done by optimizing the compiler, but it varies with different inputs.

You can see the [comparison between #58 and Go 1.7 here](https://docs.google.com/spreadsheets/d/1nuNE2nPfuINCZJRMt6w

[2016-10-16 21:01] klauspost commented on #56
Will be fixed with PR #61

[2016-10-20 12:15] valyala opened #64 "Commit 4a06a0409c7ce17f1355156990df2def3fc6b40c breaks fasthttp tests"
`fasthttp` tests started failing after the commit 6d586fbb1053e345f61db453cd8649db561780b0 :

[code]

See https://travis-ci.org/valyala/fasthttp/jobs/169191781 for more info.

[2016-10-20 12:16] valyala commented on #64
Sorry, the title contains incorrect commit - the 6d586fbb1053e345f61db453cd8649db561780b0 is the correct one.

[2016-10-20 12:32] klauspost commented on #64
Thanks! I will investigate!

[2016-10-20 13:43] klauspost commented on #64
Sorry - I had it ready here: https://github.com/klauspost/compress/pull/63

[2016-10-20 13:46] klauspost commented on #64
Merged the fix in #63
Before:
[code]
After:
[code]

[2016-10-20 13:46] #64 closed

[2016-10-20 15:05] valyala commented on #64
Thanks!

[2016-10-20 15:13] klauspost commented on #64
Brainfart on my side - I wrongly remembered this being a part of #58

[2016-10-25 07:51] klauspost commented on #62
The changes have been merged.

See this [performance chart])https://docs.google.com/spreadsheets/d/1kSDRn8kqMvI6e_73lqVvdqmRg83nIfc_MpCnli5GO8g/edit?usp=sharing) on the performance.

In general, level 1 and 9 are slightly faster than Go 1.7, but the inbetween levels are much better balanced (compare the two charts on first page).

[2016-10-25 07:51] #62 closed

[2016-10-25 11:16] kostyantyn opened #66 "Improve small payload performance"
Noticed that after pulling master, performance of gzip compression is now lower than native Go implementation.

[code]

[code]

[2016-10-25 13:44] klauspost commented on #66
Interesting. I will see what the cause is for that.

Usually I would avoid allocations by re-using the writer:
[code]

In real code a `sync.Pool` would contain your writers.

[2016-10-27 09:09] klauspost commented on #66
With an implementation like this that eliminates allocations:
[code]

[code]

Still something to investigate. Having good "small payload" performance is also important.

[2016-10-27 09:31] kostyantyn commented on #66
Thanks for the tip of re-setting a gzip writer. It gives significant improvement.

[2016-10-30 14:47] klauspost commented on #56
Fixed on master

[2016-10-30 14:47] #56 closed

[2016-11-02 10:14] klauspost commented on #66
My first attempt at a more lean implementation for usage without reset in #70 shows that the "snappy" (level 1-4) benefit from a smaller interface, but the "old" algorithm doesn't improve by more than a few percent.

[2016-11-13 10:16] pieterclaerhout opened #71 "Password-protected zip files"
Are you planning to support password protected zip files by any chance?

Kind regards,

pieter

[2016-11-13 10:37] klauspost commented on #71
I haven't considered it, but I see that there are some implementations like https://github.com/yeka/zip which adds SHA256 encryption. A PR would be very welcome, though I might take a look in the future when time permits.

[2016-12-26 20:05] klauspost opened #72 "Investigate alternative histogram function"
[hist_4_32](https://github.com/powturbo/TurboHist/blob/master/turbohist_.c#L92) could be an interesting [histogram function](https://github.com/klauspost/compress/blob/master/flate/crc32_noasm.go#L30).

[2016-12-28 02:51] mattes opened #73 "Replace with hash/crc32?"
https://github.com/klauspost/compress/blob/master/gzip/gunzip.go#L17

Can this be replaced with `hash/crc32`?

Looking at the changelog at https://github.com/klauspost/crc32 and saw that changes have been merged into official go?

Reason why I'm asking, `github.com/klauspost/crc32` seems to be breaking my Google App Engine builds.

(My deps tree: https://github.com/gavv/httpexpect -> https://githu

[2016-12-28 02:52] mattes commented on #73
[code]

[2016-12-28 02:53] mattes commented on #73
ref: https://github.com/klauspost/crc32/issues/7

[2017-01-01 08:45] klauspost commented on #73
Yes, you can replace it. It should only make a significant difference if you are using Go 1.6, so I might remove it soon anyway

[2017-05-28 10:44] klauspost commented on #73
The package now uses official crc32.

[2017-05-28 10:44] #73 closed

[2017-05-28 13:31] klauspost commented on #50
Backported from Go changes.

[2017-05-28 13:31] #50 closed

[2017-06-15 11:24] xyproto opened #78 "Error when building flate with gcc-go"
When cloning `compress`, entering the `flate` directory and running `go build`, I get the following error messages:

[output.txt](https://github.com/klauspost/compress/files/1077414/output.txt)

This is with: `go version go1.8.1 gccgo (GCC) 7.1.1 20170516 linux/amd64`

[2017-07-16 14:52] #72 closed

[2017-10-26 02:28] bronze1man opened #79 "how to create an empty zlib.reader ?"
I write a memory object pool to reuse some zlib.reader objects.
But I can not find an api to create a empty zlib.reader.
If I pass an empty io.Reader to zlib.NewReader, it will return `unexpected EOF`.
I can only use lazy init or pass an simple zlib compress output to it to work around this bug right now.

[2017-10-26 02:45] bronze1man opened #80 "zlib decode is not "All heap memory allocations eliminated""
It only have one alloc left when I reuse the reader object:
* https://github.com/klauspost/compress/blob/master/zlib/reader.go#L176

[code]

[2017-10-29 10:13] #80 closed

[2017-10-29 10:13] klauspost commented on #80
Thanks for reporting!  I haven't really looked into zlib.

[2017-10-29 10:15] klauspost commented on #79
`zlib.NewWriter(nil)` should be fine.  The writer is overwitten by Reset and doesn't appear to be used before you write.

[2017-10-29 10:15] #79 closed

[2017-10-30 00:33] bronze1man commented on #79
I want to init a zlib.reader , not zlib.Write.

[2017-10-30 00:47] bronze1man commented on #80
The master branch do not solve this problem.The alloc will happened in the similar place.
https://github.com/klauspost/compress/blob/master/zlib/reader.go#L131
https://github.com/klauspost/compress/blob/master/zlib/reader.go#L177

You should add a test to verify it do not have alloc.

[2017-11-28 14:38] gen2brain opened #82 "Bug in flate?"
Hello,

I am trying to use your library here https://github.com/gen2brain/raylib-go/tree/master/rres/cmd/rrem , to embed game resources in file. I have an issue only with DEFLATE (LZ4, XZ, BZIP2 etc. are ok) and both with your library and official compress/flate, not sure how they are related.

There is no issue with .wav data for example, that one is ok after compress/uncompress, only with image.

[2017-11-28 16:00] shoenig commented on #82
@gen2brain  it looks like you never call Sync on rresFile - which may mean the program exits before flushing data to the file (deferring only Close doesn't do that for you). May I also suggest breaking this code down into more functions, nobody likes reading a 400 line `main` :face_with_head_bandage:

[2017-11-28 16:04] gen2brain commented on #82
Thanks for your time, I will try that. Sorry, this is initial code while I test binary format, it will not look like that at the end.

[2017-11-28 18:17] gen2brain commented on #82
I refactored a little https://github.com/gen2brain/raylib-go/blob/master/rres/cmd/rrem/main.go , so it is easier on the eyes, rresFile now  calls Sync() and Close() (not deffered), but same issue, also compress() function now accepts and returns []byte.

[2017-11-28 20:35] klauspost commented on #82
At first glance what you are doing seems reasonable. OTOH I would expect this to give problems elsewhere, and it is being used quite a few places. So I am more inclined to believing this is a decoder problem.

You can try to decode the result, it should of course match your input byte-by-byte.

PS. `flate.BestCompression` may be overkill, the default compression is several times faster and only a

[2017-11-29 11:02] gen2brain commented on #82
I have a simple test that you can run.

`package main

import (
	"bytes"
	"fmt"
	"image"
	"image/draw"
	"os"

	_ "image/jpeg"
	_ "image/png"

	"github.com/klauspost/compress/flate"
)

func main() {
	if len(os.Args) != 2 {
		fmt.Println("no argument, it should be .jpg or .png file")
		os.Exit(1)
	}

	file, err := os.Open(os.Args[1])
	if err != nil {
		fmt.Printf("%v\n", err)
		os.Exit(1)
	}

	img,

[2017-11-29 11:24] klauspost commented on #82
Always check your returned values. `r.Read(uncompData)` returns the actual number of filled bytes.

Here is a fixed version: https://gist.github.com/klauspost/d34706eb59da54da93112577f4229106

[2017-11-29 11:33] #82 closed

[2018-03-08 02:07] lulusc opened #90 "Compression rate is different at the same level old vs new"
Hi, I did some local benchmark with different types of data and found that with a same compression level, the compression rate is different using old library vs this library. In particular, when I used old library I can achieve a compression rate with level 2 while using this one I need to use level 5. This makes this library actually slower than the old one if we are targeting at a same compressi

[2018-03-20 23:58] chenziliang opened #91 "decompression for streaming data in zip"
Hi,

May i ask if the zlib package here supports streaming zip data decompression ?
Imagine there is a streaming of zlib data over a tcp socket, would like to try to use zlib package to do the decompression for data each read from the packet. Pseudo code is as below.

[code]

Thank you !

[2018-03-21 09:58] klauspost commented on #91
Yes, the zlib reader will stream the input by default. If your socket can provide an `io.Reader`, the input will be streamed and decoded as available. Calling `Read` on the zlib.Reader will block until enough data is available.

If you receive "packets", you need something like an `io.Pipe` to make it streaming.

For your example you would need something like:

[code]

[2018-03-21 15:09] chenziliang commented on #91
Thanks so much. Was thinking using a channel to wrap around the packet to simulate streaming

[2018-03-22 05:59] #91 closed

[2018-05-29 16:38] godofdream commented on #90
could you add an example?
I would like to verify it.

[2018-06-25 07:47] frontierpsycho opened #93 "Affected by zip slip?"
I'm not sure if this is the right place to ask, but can you look into whether this library is affected by zip slip? It seems like golang's standard library is.

https://github.com/snyk/zip-slip-vulnerability

[2018-06-25 09:39] klauspost commented on #93
Not directly as far as I can tell.

As far as I know, you are only vulnerable if you don't sanitize what you get back.

[2018-06-25 10:52] frontierpsycho commented on #93
Thanks.

[2018-06-25 10:52] #93 closed

[2018-07-08 15:39] klauspost commented on #90
I have re-run all benchmark with Go 1.10 and updated the performance spreadsheet. See https://github.com/klauspost/compress#performance-update-2018

[2018-07-13 06:29] JoeUX opened #95 "Using KP Compress outside of Golang contexts"
Hi Klaus – Given your recent performance update, is Compress competitive with its C-based counterparts, like zlib and libdeflate? It would be interesting to see benchmarks against them instead of the standard Go library, since zlib is the standard benchmark and libdeflate is a faster, modern reimplementation of zlib. If Compress beats them, how would we use it, for example with nginx?

[2018-07-13 09:14] klauspost commented on #95
I don't think there are significant gains. The cgo version (with zlib) has pretty much been the reference, and getting similar performance was the goal. C has a small natural advantage, but this is so close now that at least there is no reason to taint your nice Go code with cgo :)

Also, there is the [cloudflare zlib fork](https://github.com/cloudflare/zlib) which brings most of the same stuff to

[2018-07-13 23:36] JoeUX commented on #95
Understood. People have had a [hard time](https://community.centminmod.com/threads/please-add-single-threaded-gzip-optimization.8166/) building Cloudflare's optimized fork, but I haven't tried lately. Sometimes Cloudflare just throws things onto GitHub in a way that can't actually be built as-is.

Do you expect AVX2 and BMI instructions to help? I think Vlad Krasnov, one of the CF developers, said

[2019-04-23 17:49] klauspost opened #101 "zstd: Make new frames start concurrently"
Currently the start of a new frame requires the previous one to finish decoding.

Since the new frame isn't dependent on the previous it could be advantageous to start decoding it right away.

[2019-04-23 17:50] #90 closed

[2019-05-13 10:10] klauspost opened #103 "Investigate processing 2 values/loop"
Investigate if this could help deflate level 1-4: https://github.com/facebook/zstd/commit/72a3fbc0e4685f56a03ec60168aa5a52bc205d9f

[2019-06-02 22:52] valyala opened #109 "Switch from DataDog/zstd to valyala/gozstd in tests"
[DataDog/zstd](https://github.com/DataDog/zstd) has [poor support for streaming](https://github.com/DataDog/zstd/issues/22), has [potential bugs in streaming](https://github.com/DataDog/zstd/issues/22#issuecomment-444317542) and is less optimized than [valyala/gozstd](https://github.com/valyala/gozstd). So I'd recommend switching to `valyala/gozstd` in tests and benchmarks.

[2019-06-03 10:04] klauspost opened #110 "zstd write: panic: runtime error: slice bounds out of range"
[code]

[2019-06-03 10:20] #110 closed

[2019-06-03 11:41] klauspost opened #111 "zstd: Non-compliant stream generated: "should consume entire input""
Seems we can generate invalid streams.

Getting: `Decoding error (37) : should consume entire input`

[2019-06-03 11:48] klauspost commented on #111
Returned here: https://github.com/facebook/zstd/blob/dev/programs/fileio.c#L1696

[2019-06-03 17:22] #111 closed

[2019-06-03 18:17] klauspost commented on #109
I wouldn't mind, especially since it performs measurably worse the DataDog's - both in terms of compression and speed ;)

Before I add it, I would just like to make sure that this is expected. I have:

[code]

I think only `gob-stream` level 1 is smaller, the rest are larger, and the speed is quite a bit lower than https://github.com/klauspost/compress/tree/master/zstd#performance

Is that the cos

[2019-06-04 12:53] valyala commented on #109
The performance difference looks unexpected.

Probably this is related to different API functions used for stream compression:

* `valyala/gozstd` puts the written data into internal buffer and then [calls C.ZSTD_compressStream](https://github.com/valyala/gozstd/blob/ae417b85600d27e820042ee8fd9d5fbbf96eb93b/writer.go#L212) when the buffer is full or when `Flush` is explicitly called.
* `DataDog/zs

[2019-06-04 15:58] valyala commented on #109
I think I found the main issue that explains performance difference and compressed size difference: the [readahead](https://github.com/klauspost/readahead) implements [WriteTo](https://github.com/klauspost/readahead/blob/master/reader.go#L298) method, which is short-circuited inside `io.Copy`, so it tends to pass big chunks of read ahead data (up to [1MB](https://github.com/klauspost/readahead/blo

[2019-06-04 16:02] valyala commented on #109
Probably `ZSTD_CStreamInSize` should return bigger value, since it results in better compression speed and ratio? cc'ing @Cyan4973 for the input.

[2019-06-04 16:31] Cyan4973 commented on #109
`ZSTD_compressStream()` makes all the necessary buffering internally. It will try to consume as much as it can, and produce as much as possible, and report these quantities. Whatever doesn't qualify as a full block just get buffered internally, and waits for more input (or for `flush()`).

This is very different from `ZSTD_compressContinue()` which acts immediately, consuming all the input, forcin

[2019-06-04 16:43] valyala commented on #109
Yann, thanks for the explanation! I'll add the ability to configure internal buffer size for streaming compression by providing new API in `valyala/gozstd` for this use case.

@klauspost , could you run fuzz tests for `valyala/gozstd` like [you run for `DataDog/zstd`](https://github.com/DataDog/zstd/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3Aklauspost) before starting using it?

[2019-06-04 16:56] klauspost commented on #109
I seem to be getting this error when I try to fuzz it:
[code]
Before I start digging - do you know how I fix this?

[2019-06-04 17:10] valyala commented on #109
It looks like Windows support is broken, since nobody used it since [the addition](https://github.com/valyala/gozstd/commit/46bf807f36902861e68a44a8c94ad4d81769ea79) :( @zhuyie , could you look into Windows support for `github.com/valyala/gozstd`?

In the mean time try running `make clean libzstd.a` from the root of [the repo](https://github.com/valyala/gozstd). It should build the missing file. S

[2019-06-04 17:14] klauspost commented on #109
I think it is specific for go-fuzz (notice how it moves the sources). The ordinary build process works fine.

It is basically running this script:

https://github.com/klauspost/compress/blob/master/zstd/testdata/fuzz-decompress.cmd

Here is the fuzzing function:

https://github.com/klauspost/compress/blob/master/zstd/fuzz_decompress.go

Just replace the import and you should be going.  You can add

[2019-06-04 17:17] klauspost commented on #109
Testing the compressor is kindda pointless, as you might as well do that from your own package (and go fuzz doesn't help much since it is C code and it cannot mark coverage).

Comparing decompressors, there *will* we differences. Some values are up to the implementation and I am not as strict on some other values (which I should fix, but not super important).

[2019-06-04 20:00] klauspost opened #113 "zstd: Use single buffer for encodes, but copy data"
The simplification by using a single buffer instead of holding on to the previous and switching between them seems to be considerably faster.

This also makes longer windows much more feasible

[code]

[2019-06-06 18:25] aaronbee opened #115 "zstd: Decoder.Reset deadlock"
Starting with commit 50006fb, my simple zstd test program started deadlocking. The `bytes.Buffer` I pass to `Decoder.Reset` is less than 1MB, which is what that commit optimizes for.

Thanks for your efforts on a pure-go zstd implementation!

[code]

Here is a snippet of my simple test program. `zstdCompress` is called in a loop on different inputs. The deadlock is occurring on the line with `zstd

[2019-06-06 19:00] aaronbee commented on #115
One more clue: this fails during the second call to zstdCompress. Basically, the reader's life is:

zstdReader, _ = zstd.NewReader(nil, zstd.WithDecoderConcurrency(1))
var buf1 bytes.Buffer
zstdReader.Reset(buf1)

[2019-06-06 19:03] klauspost commented on #115
Thanks for the report! I think I found the issue. If you can try PR #116 - it should fix your issue.

[2019-06-06 19:06] klauspost commented on #115
There is a special case if you provide small `*bytes.Buffer` since `DecodeAll()` is much better for these. It will automatically switch to that when the buffer is below 1MB.

[2019-06-07 05:17] #115 closed

[2019-06-07 05:18] klauspost commented on #113
Fixed with #114

[2019-06-07 05:18] #113 closed

[2019-06-07 07:21] klauspost opened #117 "zstd: Don't copy bytes when encoding"
Since encoders operate on a single slice with history+input, we can avoid copying input by writing directly to the input slice of the encoder.

This means that `encoderState.filling` will be a slice of `encoder.hist`. We might need to make other changes to ensure that the input remains available even if the input is shifted down, so async block encoding still has it available.

Block encodes could

[2019-06-08 11:05] klauspost opened #119 "zstd decoder: stricter check on output size for single segment frames."
We currently do not check if total size of a frame exceeds the size set on single segment encodes.

While this is not super important for our decoder, it would be nice to have to make sure our streams remain compatible (though the problem should show up elsewhere as well).

[2019-06-08 17:55] klauspost opened #120 "Move fuzz data to a separate repo"
The repo is getting quite large - mostly because of fuzz data.

Move it to a separate repo.

[2019-06-10 08:42] fd0 opened #121 "Cannot be used with Modules enabled?"
First, I'd like to thank you very much for your work!

I'm unable to use this library when Go Modules are enabled (using Go 1.12):

[code]

As far as I can see the reason is that while your package hasn't adopted Go Modules yet, the `xxhash` package has and is already at v2.0.0 and the `zstd` package depends on functionality not available in versions < v2.0.0.

So the following happens:
 * In non-

[2019-06-10 09:38] klauspost commented on #121
I don't have a huge problem with modules, but I don't want to have 'Datadog/zstd' in there.

I might move forward with #120 which should also move the dependency.

[2019-06-10 11:57] #120 closed

[2019-06-10 12:00] klauspost commented on #121
Merged #122 which should get rid of the Datadog and go-cmp references.

This of course also means that you will have to manually update the package, but I guess you are used to this if you already use modules.

[2019-06-10 18:12] fd0 commented on #121
Oh, I can understand that. As far as I understood, the `go.mod` is only a declaration of required minimum versions, not a list of module to fetch and always include in builds. I've locally converted your library to Go Modules and built a binary with it:
[code]

The `compress` library contains the following `go.mod`:

[code]

As you can see there's `DataDog/zstd` in it (because the tests for `compr

[2019-06-10 18:37] fd0 commented on #121
For the latest master branch (91344b7c64041549c76c156d59e6c4f4429b66f7) you would need to the following in order to switch on Go Modules:
 * run `go mod init` (it should figure out the Module path itself, otherwise run `go mod init github.com/klauspost/compress`)
 * run `sed -i 's,cespare/xxhash,cespare/xxhash/v2,g' zstd/*.go` to add the `/v2` suffix to the import path of the `xxhash` module

At t

[2019-06-12 19:40] klauspost commented on #121
Would #123 work for you?

It eliminates two further dependencies only used for `xxhash` tests anyway - and I'm really not ready for modules yet ;)

[2019-06-13 16:15] klauspost commented on #121
I have merged it. Feel free to close the issue if this works for you.

[2019-06-13 16:43] mholt commented on #121
Works for me! Thank you.

[2019-06-14 08:58] klauspost opened #124 "zstd decode mismatch?"
Investigate potential decoder mismatch.

CRC mismatch seen.

[2019-06-15 09:13] fd0 commented on #121
Works for me too! Now it'd be nice to tag v1.7.1 or so, the release will be found by the Go toolchain automatically :)

Thanks a lot!

[2019-06-15 09:13] #121 closed

[2019-06-15 09:51] klauspost commented on #121
@fd0 I will - but I have a decoder error I would like to have worked out before that - #124

[2019-06-15 11:21] klauspost commented on #124
Seems to be an issue with extremely sparse blocks:
[code]

[2019-06-15 17:30] fd0 commented on #121
Oh, sure! Don't hurry anything :)

[2019-06-17 07:20] lufia opened #128 "can't compile compress/fse on 32bit architectures"
### steps to reproduce

create a Go program.

[code]

then build it for 32bit architectures.

[code]

[2019-06-17 09:58] klauspost commented on #128
Thanks - I'll look into it.

[2019-06-17 17:22] #128 closed

[2019-06-17 17:23] klauspost commented on #128
@lufia Should be fixed now. Thanks for the report.

I will do a new release when #124 is fixed.

[2019-06-17 18:03] klauspost opened #130 "zstd encode: Add block continuation logic"
For fast modes, continue on current block if very low number of sequences and literals. Keep 2MB limit in mind though.

[2019-06-17 20:18] #124 closed

[2019-06-18 08:01] klauspost commented on #103
Part of #105

[2019-06-18 08:01] #95 closed

[2019-06-18 08:02] klauspost commented on #66
With #107 released, this is where we got to.

[2019-06-18 08:03] klauspost opened #131 "Add byte slice deflate."
Add a simple byte array deflate helper.

[2019-06-23 10:49] valyala commented on #109
@klauspost , could you re-run benchmarks against [gozstd v1.5.1](https://github.com/valyala/gozstd/tree/v1.5.1)? It contains the updated `libzstd_windows_amd64.a` file for `zstd 1.4.0`. Previously this file was built with a year-old `zstd` code. This may explain the performance difference.

Additionally, could you provide a guideline on how to run these benchmarks, so next time I could run them my

[2019-06-25 15:29] eclipseo opened #133 "Int overflow on 32 bits arches"
Golang 1.12.6 on i686 and armv7:
[code]

[2019-06-25 15:35] klauspost commented on #133
Fixed in #128

[2019-06-25 16:05] klauspost commented on #133
@eclipseo You are using modules, so you should update to 1.7.1

[2019-06-26 18:52] #133 closed

[2019-07-11 09:53] klauspost commented on #109
@valyala With `1.5.1` I see this package mostly delivering the same performance as "valyala/gozstd", except in highly repetitive loads for streams.

zskp: this package. Level 1= Fastest, Level 2 = Default
zstd: "valyala/gozstd". Level passed as is

[code]

I am using this for testing (no warranty) https://gist.github.com/klauspost/d98da4c469ac30c47c3b0405d84e3828

I use it in a script like this:
[

[2019-07-11 10:10] klauspost commented on #109
Actually testing out with `DataDog/zstd`, also yielded similar (lower) results:
[code]
This seems to be down to [this addition](https://gist.github.com/klauspost/d98da4c469ac30c47c3b0405d84e3828#file-compress-go-L305) which removes the [`io.WriterTo` interface](https://github.com/klauspost/readahead/blob/master/reader.go#L298) from the input.

So it seems that when the input doesn't supply [io.Wri

[2019-07-11 20:46] klauspost opened #137 "zstd decoder: race on concatenated streams"
It seems there is a race with concatenated streams, identified in #136

[2019-07-14 21:14] mholt opened #139 "Building for arm: constant 2147483648 overflows int"
When building a project that uses this as a dependency, I get this error:

[code]

Similarly in zstd/frameenc.go:

[code]

[2019-07-15 09:21] klauspost commented on #139
Are you using the latest version?

It should be fixed with #129 and the value resolves to `2147483647` now.

[2019-07-15 10:20] klauspost commented on #137
Fixed by #136

[2019-07-15 10:20] #137 closed

[2019-07-15 14:31] mholt commented on #139
Oh... good point, probably not. On further inspection it's because of a mixup between my GO111MODULE variable and an older copy of this lib that was in my GOPATH that was being used instead. My mistake! Thank you!

[2019-07-15 14:31] #139 closed

[2019-07-15 21:32] richardartoul opened #140 "zstd: Custom Dictionary Compression Support"
First off, thanks for writing a pure Go implementation! My team has wanted to use zstd in our [project](https://github.com/m3db/m3) for a long time now, but have been trying to avoid having any c-Go dependencies.

We have one use-case in particular that would really benefit from the ability to train and use custom dictionaries on the fly.

Is that feature on your roadmap anytime soon? and if not,

[2019-07-17 12:08] vtolstov opened #141 "compress/flat: how to optimize memory allocations"
I'm try to use compress/flat and compress/gzip in http middleware
from gorilla/handlers:
https://github.com/gorilla/handlers/blob/master/compress.go

payload that sent/received is relative small 300-500 bytes.
When i'm profile my code i see:
[code]

does it possible to minimize memory allocations/usage for such kind of payload

[2019-07-17 12:44] klauspost commented on #141
Yes, but reusing the writers and use the `Reset(io.Writer)` to re-initialize it.

If you store your used `*Writer`, either in a channel or in a `sync.Pool`, you can re-use it.

Also, after #107 was merged the fastest modes take significantly less space.

[2019-07-17 13:07] klauspost commented on #140
Support for *using* dictionaries is on the horizon - but not on the top of the list. Doesn't seem like a huge task, mainly a question of initializing the encoder/decoder.

Decoder:
https://github.com/klauspost/compress/blob/415e5345507ece8609410be3d156d0e37e70b3b6/zstd/framedec.go#L339
https://github.com/klauspost/compress/blob/415e5345507ece8609410be3d156d0e37e70b3b6/zstd/framedec.go#L432

Encode

[2019-07-17 13:25] richardartoul commented on #140
@klauspost Ah ok. Creating dictionaries is what I need. Maybe I'll try and find the time to investigate that task and see how hard it would be. Thanks!

[2019-07-28 09:52] #141 closed

[2019-07-28 11:35] vtolstov commented on #141
thank you!

[2019-09-07 20:31] klauspost commented on #78
This should be fixed by #105 which removes the last assembly.

[2019-09-18 15:08] xyproto commented on #78
I just tested with `go version go1.12.2 gccgo (GCC) 9.1.0 linux/amd64`, and it works now. Thanks!

[2019-09-18 15:09] #78 closed

[2019-09-27 08:09] rathann opened #163 "multiple int overflows on 32 bit arches in s2_test.go"
While running tests on Fedora rawhide (32), I get the following test failures:
[code]

It looks like similar to #133 .

[2019-09-27 16:15] rathann commented on #163
and one more:
[code]

[2019-09-28 08:32] rathann opened #165 "timeout in zstd/encoder_test.go:100 on ARM Cortex-A9"
The whole zst test takes over 120s total on an ARM Cortex-A9:
[code]
I experimented with setting different timeout values in [zstd/encoder_test.go:100](https://github.com/klauspost/compress/blob/master/zstd/encoder_test.go#L100) and found that 35 seconds is enough for this particular hardware, but you might want to increase it further to have some headroom for slower hardware.

[2019-09-28 08:32] rathann commented on #163
I can confirm that #164 fixes this.

[2019-10-01 21:58] #163 closed

[2019-10-01 22:12] #165 closed

[2019-10-01 22:13] klauspost commented on #165
Thanks for the report. Set the timeout to 2 minutes.

[2019-10-02 18:04] klauspost opened #166 "zstd decoder: Reset results in different decoding result"
[code]

Meaning the result mismatches and two different errors are returned.

[2019-10-03 21:21] #166 closed

[2019-10-09 22:04] vcabbage opened #168 "zstd: read blocking when unable to fill buffer"
I ran into an scenario where my application would block when a `zstd.Reader` was wrapped with a `bufio.Reader`. When there was data available but less than the 4KB buffer that `bufio.Reader` uses `zstd.Reader.Read` appears to block waiting for more.

I can work around this easily by not using a `bufio.Reader` or passing the `buio.Reader` to `zstd.NewReader`, but I was wondering if my interpretatio

[2019-10-09 22:08] klauspost commented on #168
When decoding data needs to be available in blocks. This means it is impossible for the decoder to progress until an entire block is available.

To force all data to be output, you can use the [Flush](https://godoc.org/github.com/klauspost/compress/zstd#Encoder.Flush) function when encoding to force a block break at a specific point.

[2019-10-09 22:09] vcabbage commented on #168
Thanks for the quick response. I am using `Flush` when writing data.

[2019-10-09 22:12] klauspost commented on #168
ok. I don't remember there being a buffer in the decoder. I can easily have forgotten it, though.

[2019-10-09 22:14] vcabbage commented on #168
I may be misreading, but this section appears to continue to try to read blocks until `p` is filled or an error is encountered.

https://github.com/klauspost/compress/blob/36d74a08c1195867b733b78c4cb2ee2d08b3c3e8/zstd/decoder.go#L112-L129

My applications stack trace shows it blocking on https://github.com/klauspost/compress/blob/36d74a08c1195867b733b78c4cb2ee2d08b3c3e8/zstd/decoder.go#L344

So I

[2019-10-09 22:23] klauspost commented on #168
Ok, I see. Yeah - we don't know if `d.nextBlock()` will block.

Usually it will not. It should be fairly trivial to add a default select [here](https://github.com/klauspost/compress/blob/master/zstd/decoder.go#L344) that just whether data is available. Maybe change the signature to `func (d *Decoder) nextBlock(block bool) bool`

Calls from `WriteTo` should be blocking. As should calls from `Read`

[2019-10-10 09:04] #168 closed

[2019-10-10 09:05] klauspost commented on #168
Fixed in master. Released as v1.8.6

[2019-10-10 16:39] vcabbage commented on #168
Thank you!

FWIW, I agree with:

The `io.Reader` docs also discourage returning `0, nil` unless the slice passed in has a length of 0.

[2019-10-18 20:24] fproulx-eoscanada opened #170 "Decoding error (36) : Corrupted block detected"
Hello,

I am unable to decompress some (like one out of several thousands) of files compressed using your library in `*.tar.zst` (I use `mholt/archiver`, which uses your lib as backend). We have forked `mholt` to update to `v1.8.6`, still the same isssue.

The error we get with `unzstd` is `Decoding error (36) : Corrupted block detected`

[2019-10-18 20:26] klauspost commented on #170
Is it possible share a sample?

Maybe email a link to klauspost@gmail.com if you want to keep it private.

[2019-10-18 22:00] fproulx-eoscanada commented on #170
Will do.

[2019-10-18 22:22] fproulx-eoscanada commented on #170
@abourget ^

[2019-10-19 06:54] klauspost commented on #170
Thanks!

[2019-10-19 08:08] klauspost commented on #170
This seems to go back to #146 and possibly outputting too much data if tables are reused.

If may be fixable by going back to `v1.7.4`. I am pretty much on my way out the door for a few days, so it may take me a little longer than expected to get a fix ready.

[2019-10-24 14:22] klauspost commented on #170
Found the issue. See #173 I will merge it to master and have fuzz tests run before I make a release (probably v1.9.0)

[2019-10-24 15:43] #170 closed

[2019-10-25 04:57] #103 closed

[2019-10-25 05:31] klauspost commented on #170
@fproulx-eoscanada v1.9.0 released

[2019-11-09 11:36] klauspost opened #175 "Make stateless deflate"
In some cases a server might want to keep thousands of compressors open, which will put a considerable amount of pressure on memory.

Investigate if we can make a completely stateless compressor with the tradeoffs in terms of speed and compression that will give.

[2019-11-12 21:00] #175 closed

[2019-11-13 22:26] diegobernardes opened #182 "Troubleshooting performance problem"
I'm working on a project that one of the requirements is to process a list of gzip files. They're about 50 MB compressed and 500 MB uncompressed. When I added the uncompressed part using the compress package the performance dropped by half.

At the profiler looks like I'm spending almost all the time at the application doing syscalls.
![image](https://user-images.githubusercontent.com/14483/688092

[2019-11-14 08:22] klauspost commented on #182
@diegobernardes - Add a `bufio.Buffer`  between your input and the gzip reader, or use pgzip: https://github.com/klauspost/pgzip

[2019-11-14 08:29] #182 closed

[2019-11-28 20:50] #66 closed

[2019-12-03 12:51] rathann opened #189 "zstd: segmentation fault on x86 32bit"
When building 1.9.3 on Fedora rawhide/32 with golang-1.13.4, I'm getting a SIGSEGV while running the zstd test:
[code]

[2019-12-03 12:59] klauspost commented on #189
Looks like an OOM and it seems the Go runtime crashes.

[2019-12-03 12:59] klauspost commented on #189
Lots of goroutines running. I will see if I can track that down.

[2019-12-03 14:16] klauspost commented on #189
Added a PR where decoders are shut down properly in tests in #190

However, there will still be quite a lot of memory needed. Consider using `go test -short` for 32 bit platforms, though now it should be less likely to run OOM.

[2019-12-03 14:18] klauspost commented on #189
Maybe you should report the crash to the golang project, it shouldn't really segfault.

Thanks for reporting. I will merge when CI is done and probably release as well.

[2019-12-04 08:18] #189 closed

[2019-12-04 09:57] rathann commented on #189
The test is passing with #190 applied, thanks.

[2019-12-04 10:18] rathann commented on #189
I spoke too soon. 1.9.4 is still crashing:
[code]

[2019-12-04 10:41] klauspost commented on #189
@rathann Run tests with `-short` and/or `-cpu=1`. That should reduce memory usage.

[2019-12-04 11:20] rathann commented on #189
Adding `-short` seems to have helped, thanks.

[2019-12-18 10:07] klauspost opened #194 "HuffmanOnly performance regression"
Performance has regressed on huffmanonly on deflate. Maybe revert some parts for this specifically.

[2019-12-23 13:22] valyala opened #195 "zstd: all the goroutines stuck in blockDec.startDecoder in v1.9.4"
After upgrading from v1.9.2 to v1.9.4 in [VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics) we see a lot of goroutines stuck (i.e. 12K goroutines and counting - looks like a leak) on the line 195 of [blockDec.startDecoder](https://github.com/klauspost/compress/blob/438db640fd672278e44bb9bec0b979358e7e9c76/zstd/blockdec.go#L195).

[2019-12-23 14:30] klauspost commented on #195
Could you direct me to the place where it is used?

[2019-12-23 14:32] klauspost commented on #195
Encoders are kept around until Close is called.  See https://github.com/klauspost/compress/tree/master/zstd#allocation-less-operation

[2019-12-23 15:20] valyala commented on #195
See https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/lib/encoding/zstd/zstd_pure.go . This code didn't change for the last 5 months and it was working without issues until the upgrade from v1.9.2 to v1.9.2 .

[2019-12-23 15:36] klauspost commented on #195
There will be gouroutines running, since they are spun up when you create the decoder. By default it should be the same as your GOMAXPROCS. This hasn't changed and I am a bit skeptical since tests actually check that no gouroutines leak.

You encoder has a "race", though. If other gouroutines are blocked by your mutex they will create a new encoder, leaking the existing, here: https://github.com/V

[2019-12-23 15:59] valyala commented on #195
GOMAXPROCS goroutines look correct. But we have 12K goroutines stuck at the line 195 of [blockDec.startDecoder](https://github.com/klauspost/compress/blob/438db640fd672278e44bb9bec0b979358e7e9c76/zstd/blockdec.go#L195) and this number constantly grows after the upgrade from v1.9.2 to v1.9.4 .

Thanks for pointing to the issue with encoder. It will be fixed soon. Note that the original issue is in

[2019-12-23 16:05] klauspost commented on #195
Yeah, 12K definitely shouldn't happen. I will take a closer look in a few days, holidays at the moment.

[2019-12-23 16:08] valyala commented on #195
Thanks!

The issue with the encoder should be fixed in the commit https://github.com/VictoriaMetrics/VictoriaMetrics/commit/6a1499efa3e5980e2d83eab86a64033aeb3f1be8 .

[2019-12-23 16:45] valyala commented on #195
It looks like I found the original issue in the cluster branch, which could lead to goroutines leak - see https://github.com/VictoriaMetrics/VictoriaMetrics/commit/108a60d69e2e74f8f375ea60d91f813eef41c546 (the typo has been fixed in the next commit https://github.com/VictoriaMetrics/VictoriaMetrics/commit/44f886cc9c5b01b868ddf374e7c9dc23dee0a684 .

It looks like the goroutine leak was here for the

[2019-12-23 16:45] #195 closed

[2019-12-23 16:56] klauspost commented on #195
@valyala Thanks for investigating this! Glad to hear you found the issue!

[2019-12-25 06:08] jarifibrahim opened #196 "Question - Help with setting the correct options for dgraph-io/badger"
Hey @klauspost, thank you for writing this amazing library in Go. I work on https://github.com/dgraph-io/badger and we'd like to use this library instead of the CGO based ZSTD implementation.
We had a small chat about this a while ago https://discuss.dgraph.io/t/badger-compression-feedback/5478

Here's what we're compressing in badger
    Badger stores key-values in a table called SST. Each SST is

[2019-12-25 14:28] klauspost commented on #196
Yes, definitely. I would also say very small. The frame header (6-16 bytes) and the CRC will be a rather significant part of the size. If you have something already dealing with bit rot, disabling CRC may be an idea here.

Use `WithSingleSegment` will automatically be enabled and `WithWindowSize` should also automatically be set, so defaults should be fine. Since blocks are so small, `WithEncoderL

[2019-12-26 10:39] jarifibrahim commented on #196
Hey @klauspost, I tried running some benchmarks on two kinds of data
1. Table Data (contains some randomly generated data).
[code]
[code]

2. 4KB of text taken from https://gist.github.com/StevenClontz/4445774
[code]
[code]

Here's the script I've used https://gist.github.com/jarifibrahim/91920e93d1ecac3006b269e0c05d6a24

I have a couple of questions
1. Why does the compression ratio worsen when I

[2019-12-27 08:34] klauspost commented on #196
1. You need a wider variety of inputs to really judge that. Different data will have different characteristics and with a single input you are not getting the full picture. With really small data set you are training the CPU for specific branches. Using different types of data will give a more realistic picture, which will probably be some losses, some wins, etc.

2. The C implementation has had m

[2019-12-27 13:18] klauspost commented on #196
Added some experimental code for small blocks: https://github.com/klauspost/compress/pull/199

Not a huge improvement, but worth taking.

[2019-12-28 10:54] klauspost commented on #196
Found a much bigger improvement. Now about 15% faster on the fastest setting.

[2019-12-29 10:18] jarifibrahim commented on #196
This is amazing @klauspost . I'll benchmark the new code

Thank you so much for helping out with this :)

[2019-12-29 10:18] #196 closed

[2020-01-13 13:51] #117 closed

[2020-01-15 16:42] achille-roussel opened #208 "Support for Go modules"
Hello!

A pull request was opened against kafka-go to take a dependency on this package to replace the CGO Zstd implementation with the one provided here.

It appears that there are no `go.mod` file in this repository, which means some indirect dependencies get reflected in kafka-go (see https://github.com/segmentio/kafka-go/pull/396/files).

Are there any concerns with adding a `go.mod` file here

[2020-01-15 17:06] klauspost commented on #208
Yes, there is no need for it. I will remove the dependency.

[2020-01-16 09:54] #208 closed

[2020-01-18 12:00] #194 closed

[2020-01-26 02:31] CAFxX commented on #9
Shouldn't this be reopened? There's a pure go version [here](https://github.com/andybalholm/brotli) but it's [mechanically translated from C via c2go](https://groups.google.com/forum/#!msg/golang-nuts/J5MwJnmDpOw/yQacKG2pBwAJ) and it's far from being anywhere close in performance with the C version.

[2020-02-02 10:27] bronze1man opened #217 "runtime error: slice bounds out of range"
My server crash after 10-20 min after start.
caller code:
[code]

[code]

I have tried a single thread, it crash like this too(after one hour):
[code]

I have tried flate from golang 1.11.6, it never crash after 3 hours. (but use more cpu resource than this library)
I have tried flate from https://github.com/klauspost/compress and do not reuse the writer object, it never crash after 12 hours.(but

[2020-02-02 12:33] bronze1man commented on #217
When I set debugDecode to true, I got:
[code]

[2020-02-02 17:52] klauspost commented on #217
Thanks for the detail report. I will take a look at the issue.

[2020-02-02 18:18] klauspost commented on #217
My guess is that you are running a lot of very small buffers through this, correct?

Could you try out #218 - that could likely fix it?

[2020-02-02 21:54] klauspost commented on #217
I managed to reproduce it with a test which indicates this should help out, but please do give feedback on whether it also helps you.

[2020-02-03 01:59] bronze1man commented on #217
another crash stack from master branch. (not from #218 )
[code]

[2020-02-03 02:59] bronze1man commented on #217
Yes, it works, the server is not crash after one hour. I will close this issues after the server is not crash after 24 hours.

[2020-02-03 03:42] klauspost commented on #217
Cool. Seems like the `-race` test is timing out. When it's fixed I will merge the changes.

There will probably be a release within the next week when #216 is also merged.

[2020-02-03 04:56] bronze1man commented on #217
Sorry, but it crashed from code #218
[code]

[2020-02-03 05:12] klauspost commented on #217
Hmmm... that is somewhat unexpected. I will see if I can hunt it down. Thanks for testing.

[2020-02-03 05:18] klauspost commented on #217
Updated #218

[2020-02-03 08:22] bronze1man opened #219 "Why the *flate.Writer.Close can not release the reference of passin io.Writer?"
If the *flate.Writer.Close release the reference of passin io.Writer, I can simple my code and improve performance a little.
I have tried it, but the test case is failed with
[code]

my change code:
[code]

[2020-02-03 08:54] bronze1man commented on #217
The server is not crashed after 3 hours. I will close this issues after the server is not crash after 24 hours.

[2020-02-03 17:25] #217 closed

[2020-02-04 01:03] bronze1man commented on #217
@klauspost you forgot to write the change log in README.md

[2020-02-04 01:11] klauspost commented on #217
Yeah, I usually does that before release, unless I remember :)

[2020-02-04 08:39] bronze1man commented on #217
Thanks, The server is not crash with this reason after 24 hours.
I think this problem have been fixed.

[2020-02-12 07:48] mmcloughlin opened #220 "zstd: benchmarks exit with error"
I'm seeing the `zstd` benchmarks exit with an error

[code]

Full repro:

[code]

[2020-02-12 17:03] klauspost commented on #220
Seems like a benchmark is leaking goroutines. I will look into fixing that.

Thanks for the report.

[2020-02-12 19:07] #220 closed

[2020-02-13 08:11] mmcloughlin commented on #220
That was quick! Thank you.

[2020-02-15 22:01] klauspost opened #223 "flate: Investigate smaller tables levels1-6"
Tables for levels 1-6 are quite big.

Investigate impact of 1) reducing precision and 2) don't store values along with the offset.

Reducing the precision will lose compression, but probably not too much when reduced by 1 bit.

Loading values may be offset by smaller tables, but it will add several more offset checks and a bounds check.

The impact of each change will reduce the size by half.

Imp

[2020-02-16 02:00] klauspost commented on #219
Reset also has to reset dictionary state. This deletes it. I will send a PR. Followup shortly.

[2020-02-16 02:02] klauspost commented on #219
See #224 which does what you want and retains the dictionary. Clarified tests as well.

[2020-02-16 02:18] nhooyr commented on #131
I believe this can be closed, stateless deflate was recently merged in.

[2020-02-16 04:29] klauspost commented on #131
Correct 👍

[2020-02-16 04:29] #131 closed

[2020-02-16 17:46] #219 closed

[2020-02-17 19:58] klauspost opened #225 "ztsd: Possible crash on writer reuse"
Investigate crashes from reuse. Seen on fastest zstd setting, not reproducible with `-race`.

[2020-02-17 20:36] klauspost commented on #225
Appears to be similar to #218

[2020-02-17 21:47] #225 closed

[2020-02-18 03:55] klauspost commented on #119
This should be good by now.

[2020-02-18 03:55] #119 closed

[2020-02-19 05:53] klauspost opened #231 "inflate: Read more bits if not final block"
When a block is not marked as the final block it should be possible to read 10 further bits ahead.

The smallest block seems to be a predefined block with a single EOB, which would be 10 bits + EOB from current block (current limit).

This should make it possible to fill more bits at the time when decoding.

[2020-02-19 06:09] klauspost opened #233 "flate: Use predefined compressed block for EOS"
When closing a stream an EOS is written as an uncompressed block with length 0. This takes 5 bytes. Using a compressed block with predefined table this can be reduced to 10 bits.

[2020-02-20 18:38] #231 closed

[2020-02-23 18:34] #223 closed

[2020-02-23 22:02] klauspost commented on #233
Fixed by #232

[2020-02-23 22:02] #233 closed

[2020-02-24 18:20] jpchen-lightstep opened #235 "zstd: Extra encoders and decoders allocated when working with stream APIs"
It looks like the encoders allocated in Encoder.initialize are only used when EncodeAll is called.  When exclusively using the stream-based API, these encoders appear to be unused.  A similar issue exists with the frame decoders on the decoding side.

Any advice on how to avoid these extra allocations?  I'm working in an environment where we are only using the stream APIs and would like to optimiz

[2020-02-28 01:38] ribasushi opened #237 "zstd: expose header decoder as public API mimicking `zstd -lv foo.zst`"
As per subject it would be awesome if https://github.com/klauspost/compress/blob/98b287bcd1b5d61b698ccc529a220f597f584400/zstd/framedec.go#L183-L206 was available for use. At present the only options to know the size is to either call out to a `zstd` binary or to decompress a stream and count the bytes 🙀

[2020-02-28 11:32] klauspost commented on #237
I could be added, but it would not be super reliable.

1) As you can see the frame size is optional. It will only be set if the size can be determined when the encode starts, meaning `EncodeBuffer` was used.

2) Frames can be concatenated. There may be several frames on the stream and you would only get the first one.

My suggestion in general would be to keep the size outside the compression part

[2020-02-28 12:23] klauspost commented on #235
@jpchen-lightstep Well spotted. Sending in a PR.

[2020-02-28 12:56] ribasushi commented on #237
I work with externally supplied archives, without a side-channel for supplying size. It is true that the presence of the value is not guaranteed, but when it is there, it is there. At present I am doing an abomination like this:
[code]
Replacing the exec() abomination with reliable code you've already written would be a plus. Please reconsider! 😉

[2020-02-28 13:14] klauspost commented on #237
:cryingbear: indeed.

A quite reliable way would be to parse all block headers of a stream. It would of course requiring reading through the stream, but blocks would not need to be decompressed, so it should be possible to do at IO speeds.

I am not a super fan of returning the frame header values since it is unreliable when multiple frames are present.

[2020-02-28 13:24] ribasushi commented on #237
I apologize for being imprecise - I was actually not directly suggesting that. I was more asking about the possibility of a more general-ish method that would *utilize internally* the part I linked. Something that works only when the input buffer is a regular file or somesuch

For reference `gzip -lv` and `xz -lv` are a thing as well, so there is definitely sufficient surface for such an "opportun

[2020-02-28 13:25] ribasushi commented on #237
Note that there is precedent on this already:
[code]

[2020-02-28 13:41] klauspost commented on #237
Agree. I would like something that always works no matter how the file was compressed, but it could optionally

It could be something like:

[code]

[2020-02-28 14:02] #235 closed

[2020-02-28 14:25] ribasushi commented on #237
@klauspost I love it!

[2020-02-28 14:32] klauspost commented on #237
`UncompressedSize(r, false, false)` is the only combination that doens't make sense. I can live with that.

It shouldn't take a crazy amount of time to do, but I can't make specific promises.

[2020-02-28 14:40] ribasushi commented on #237
No worries at all. As you can see I have a ( horrid ) workaround in place for this. I will rip it out when your version lands.

Thank you for considering my request!

[2020-02-28 14:45] ribasushi commented on #237
Actually now that I think about this - the "lighter" option will have to consume the first header in the stream anyway, so further decompression will fail. I wonder if there is a way to keep some state in an instance to make the following possible:

[code]

[2020-03-01 12:52] klauspost commented on #237
I know that would be convenient, but it would also mean a lot of housekeeping and scanning blocks will be impossible since it would have to buffer the entire stream.

So if you want the size you must be able to reset the stream yourself.

[2020-03-02 23:54] ribasushi commented on #237
This is fair, and I agree with your justification. However in this case the proposed API
`func UncompressedSize(r io.Reader, scanBlocks, onlyUseHeader bool) (int64, error)`
becomes somewhat redundant - `scanBlocks` will be *nearly* as fast as `onlyUseHeader`, therefore one might as well always give the correct answer if there are zero guarantees on the state of the `io.Reader` when the process is

[2020-03-03 00:01] jpchen-lightstep commented on #235
Thanks so much for the quick turnaround!

Is there a similar issue on the decoding side where the frame decoders created in NewReader are unused when only using the stream-based API?

[2020-03-09 18:25] jpchen-lightstep opened #242 "zstd: Extra decoders allocated when working with stream APIs"
This is a follow-up to issue #235.  Thank you for the fix to skip creating encoders when using stream APIs.  I believe there's still a similar issue on the decoding side where unused frame decoders are allocated in Decoder.NewReader?

[2020-03-09 19:23] klauspost commented on #242
@jpchen-lightstep I don't really see what you are referring to.

[2020-03-09 19:33] jpchen-lightstep commented on #242
@klauspost If I'm only using the stream API, I think the decoders allocated [here](https://github.com/klauspost/compress/blob/dcaf1a6516ae48c62a38b776817c3dd19086a1a3/zstd/decoder.go#L94) are not used, right?  (The frame decoders that are used in this scenarios are allocated in [startStreamDecoder](https://github.com/klauspost/compress/blob/dcaf1a6516ae48c62a38b776817c3dd19086a1a3/zstd/decoder.go#

[2020-03-09 19:40] klauspost commented on #242
The frame decoder is not used, but the block decoders are, here: https://github.com/klauspost/compress/blob/dcaf1a6516ae48c62a38b776817c3dd19086a1a3/zstd/decoder.go#L481

We could pull a frame decoder of the channel, not sure it would make much difference. The `frameDec` struct isn't that big. Small decodes should use the `DecodeAll` function anyway.

[2020-03-11 16:27] klauspost commented on #242
I think I will keep it as it is. When the encoder is created we don't know how it will be used and the allocation size is extremely small.

[2020-03-11 16:27] #242 closed

[2020-03-11 23:07] jpchen-lightstep commented on #242
Sorry I didn't reply earlier.  I agree with closing this for now given that the frame decoders are small.  Thanks!

[2020-03-26 14:45] vmihailenco opened #248 "zstd performance and Reader/Writer reuse"
I have [a benchmark](https://gist.github.com/vmihailenco/1beb14cabe4ab597cefc3d6ab1361e3c) that produces following results:

[code]

That is roughly 2 times slower (and results can be worse on smaller payloads) and allocs are rather big (1646825 to encode & decode 225339 bytes?). I know that I can achieve better results by using `EncodeAll` and `DecodeAll`, but I would like to use Encoder/Decoder

[2020-03-26 15:18] klauspost commented on #248
Yes. There is some special handling when you decode a `*bytes.Buffer`, and it does indeed allocate more than it should. I will send a PR shortly.

As you note, the streaming en+decoders are not for payloads this small.

Also, if you want to eliminate more allocations you can copy data to a hash function or something so you avoid the `ioutil.ReadAll`.

[2020-03-26 15:19] klauspost commented on #248
Thanks for the detailed report 👍

[2020-03-26 15:43] vmihailenco commented on #248
Thanks - now it looks like this

[code]

What still looks strange is that `EncodeAll/DecodeAll` version is faster and allocates less than using `Write` / `Read`. I guess there is a good reason for that, but from user POV I don't understand why there is such a big difference - after all `Encoder.Writer` can easily be a wrapper over `EncodeAll`.

[2020-03-27 08:27] klauspost commented on #248
No. With EncodeAll you always know how much you are compressing. Using a stream you don't know if the user will write more, so you need to buffer input and cannot start compressing until the stream is closed.

With longer stream you can start compressing when you have enough input for a block.

[2020-03-27 08:41] vmihailenco commented on #248
There is no buffering in my benchmark - I always write all data with one `Write` call. So it is one `Write` + one `Close` call. Even you have to buffer that data in 1mb blocks and delay compression - it should not be 30% slower. There is something else to makes `Read/Write` version significantly slower - something takes extra 1e6 nanoseconds.

[2020-03-27 08:54] klauspost commented on #248
@vmihailenco But there is no way to know that you will not be writing more until you close.

I did add another 'short circuit' though. PR in a minute.

[2020-03-27 09:18] vmihailenco commented on #248
Thanks for your patience and efforts :+1:

My totally uneducated guess based on the code I've read is that you split the stream into blocks and each block is handled by separate goroutine + it looks like you have separate encoder goroutines that encode those blocks that are coming from the block goroutines. Synchronizing that is expensive, but it is very likely I got all that wrong. Sorry if that

[2020-03-27 09:30] klauspost commented on #248
Exactly. In streaming mode we collect until we have enough for the block size we want, by default 64KB.

When there is enough for a block we start compressing it in a separate goroutine. This is first compressing it into sequences which is then handed to another goroutine that encodes the block output. When the block is handed over the next block can start.

This means that long streams are quite

[2020-03-27 09:49] vmihailenco commented on #248
Thanks for confirming - it all makes sense. I am not sure it is such a good idea in case of HTTP server (many concurrent clients and want to compress a stream), but I definitely see how it can make a lot of sense if you need to compress one (several) large stream.

I understand it is a matter of time you are willing to invest (and in my case also lack of knowledge) but some ideas how to improve th

[2020-03-27 10:38] klauspost commented on #248
This will be addressed when I add full concurrent compression.

S2 has [Writer.EncodeBuffer](https://godoc.org/github.com/klauspost/compress/s2#Writer.EncodeBuffer).

[2020-04-27 09:35] mvdan opened #253 "zstd: provide a "contains magic number" func"
That is, to detect if a chunk of bytes has the zstd magic number as a prefix.

There are Go modules like https://github.com/h2non/filetype, which support lots of file types. But at the end of the day, I just need to check four bytes, and it seems unnecessary to add an extra module dependency when I already depend on a zstd package :)

For example, here's a sample implementation I wrote, which coul

[2020-04-27 09:39] mvdan commented on #253
(But of course, happy to submit a PR if this seems like a good idea)

[2020-04-27 09:43] klauspost commented on #253
It could be part of #237 which would also check more frame header fields.

[2020-04-27 09:50] mvdan commented on #253
Is that from the point of view of exposing less API, or so that the function does extra sanity checks?

I can sympathize with exposing less API. I don't care about extra sanity checks though, as I directly follow up "is the magic number there" with "decompress the bytes". I guess I could ignore the rest of the data as long as it's equally cheap to retrieve.

[2020-04-27 09:51] klauspost commented on #253
Less API 💯

[2020-04-27 09:53] mvdan commented on #253
Sounds good to me :) I'll continue using a local helper while I wait for this issue to be fixed as part of #237 - there's no rush.

[2020-04-28 11:34] JoeUX opened #254 "Where are the SSE4.2 instructions/code?"
Hi all – Where is the SSE4.2 code in the repo? I can't find it. I'm trying to learn Go assembly and SIMD usage, and was looking for CPU instructions like `PCMPESTRI`. Even searching on cmp came up dry. I expected to find it in compress/flate/deflate.go or similar, or in a separate assembly file.

Thanks.

[2020-04-28 11:42] klauspost commented on #254
It was removed from deflate since the `bits.TrailingZeros32` instrinsics provided a similar method that could also be inlined.

You can still find assembly in [s2](https://github.com/klauspost/compress/tree/master/s2), but it also [uses BSF](https://github.com/klauspost/compress/blob/4a2d40e4b07e5b3d333bc0569facd0f2dbf4ef39/s2/gen.go#L1823) for determining match lengths.

[2020-05-02 12:57] JoeUX commented on #254
Thanks.

[2020-05-02 12:57] #254 closed

[2020-05-12 11:59] JoeUX opened #255 "How about a paired web minifier?"
Hi Klaus. Enhancement request/idea: Consider writing a minifier to pair with compress, since a major use case of compress is probably to compress web content – HTML, JS, and CSS files. Some minifiers already exist, but they're often unsafe and break websites, and there might be some optimization opportunities in pairing a minifier with the deflate/gzip logic.

Could the deflate parsing logic be le

[2020-05-12 13:15] klauspost commented on #255
Thanks for the proposal.

I have looked into domain-specific compression, in particular if compression could be built in as part of serializing. However, it proved to be pretty pointless, almost always both slower and with no significant gains.

I am not going to go into 'minimizing', ie. modifying the content. As you point out it is really hard to get working transparently and you have to deal wi

[2020-05-27 14:52] #255 closed

[2020-06-01 04:54] twmb opened #264 "zstd: add no-goroutine option to encoding"
To start, I appreciate that the concurrency allows for greater speed, it's great!

Backstory
========

I have a project that manages different types of encoding options for thousands of configs. As a rule, when compressing data for an individual config, we only want to compress serially; we have thousands of other concurrent compressors and we do not want one utilizing more CPU than necessary.

Ou

[2020-06-01 09:57] klauspost commented on #264
How much data are you on average compressing per use? It sounds like you should just use a single instance and `EncodeAll`  if you have small payloads.

Alternatively you can have a `var encs chan *zstd.Encoder` that contains the maximum number of concurrent encoders you need. When you need one, do `e := <- encs`. When done do `encs <- e`.

If you are not reusing, `defer` solves that problem. If y

[2020-06-01 11:35] klauspost commented on #140
Decompression dictionary support has been added: https://github.com/klauspost/compress/tree/master/zstd#dictionaries

[2020-06-01 14:59] peterbourgon commented on #264
😶

[2020-06-01 15:03] peterbourgon commented on #264
As a user, I am capable of creating goroutines to make synchronous APIs asynchronous. It is much more difficult for me to do the reverse, and deterministically manage goroutines created by APIs. It would be a lot more user-friendly if this package left concurrency to the caller, and avoided creating goroutines altogether. (It would also remove the package's #1 Gotcha, which is correctly managing C

[2020-06-01 16:00] klauspost commented on #264
@peterbourgon No, in this case you are not. You cannot speed up concurrent encoding unless you implement all parts of the encoding process as separate steps, which will just leave where you are.

It is not only about goroutines (which is only really an issue when NOT doing streaming encodes), but also to make re-use a priority. There are several larger buffers required and doing create+throw away

[2020-06-01 16:44] twmb commented on #264
The use case is mixed. For some configs, we do long streams to upload data. For others, the batches are small and we do EncodeAll (although the batches are not quite <16K small). In both use cases, right now we use EncoderConcurrency(1).

I'm a bit mixed on wanting things to complete as fast as possible. I agree that generally that's a good principle in a system where you have your own program com

[2020-06-11 00:26] peterbourgon commented on #264
That's fine, but Close prevents re-use, which is the problem.

[2020-06-11 06:58] klauspost commented on #264
@peterbourgon No, it doesn't. It prevents use of `sync.Map`, but you can reuse many other ways. But if you have something to discuss feel free to open an issue, unless it is something relevant to this topic.

[2020-06-11 18:48] achille-roussel commented on #264
I was going to open an issue on this topic as well, I'm glad there's already a discussion going on :)

One thing that the goroutines make harder is profiling CPU and memory usage, because the stack traces of the zstd encoder and decoder are not continued from the program.

A practical example of where this has made it harder for us was in stream processors that were reading from and writing to mul

[2020-06-12 12:47] klauspost commented on #264
@achille-roussel It is no problem, it just needs to be done. The main stream decoder is built around being async to it can decode ahead of whatever is reading from it. So it is not a trivial change.

A PR would be welcome. Please make it a separate decoder option. There will be a significant performance regression compared to 1 goroutine since reads will be blocking much more with a sync decoder.

[2020-06-12 22:37] twmb commented on #264
Rather than a separate option, would it make more sense to have a separate two types (SerialEncoder and SerialDecoder)? This would address your comment above about not wanting special case behavior where encoder level 1 doesn't need closing whereas anything greater does.

[2020-06-14 19:03] klauspost commented on #264
@twmb Yes, that sounds like a good clean way to do it.

[2020-06-18 17:12] bcmills commented on #264
Under what conditions do the goroutines leak? (Would it make sense to, for example, set a finalizer in `NewEncoder` that panics if `Close` is not called on the returned `*Encoder` before it becomes unreachable?)

[2020-06-18 18:00] twmb commented on #264
The returned encoder never becomes unreachable because the goroutines it starts ensures that. So, goroutines leak _if_ you do not call `Close`, which is mildly unexpected if you're using this in a context where you're pooling other potential compressors, or are used to pooling compressors. So attaching a finalizer to the current return would not solve a leak by forgetting to call close.

Another c

[2020-06-24 16:13] chrislusf opened #271 "detect zstd content by magic number"
I have been trying to detect the zstd content via zstd magic number defined in https://github.com/facebook/zstd/blob/dev/doc/zstd_compression_format.md#zstandard-frames

[code]

However, the content zstd compressed does not have this magic number.

[code]

Here is the code https://play.golang.org/p/FPLFxdwusBN

[2020-06-24 16:14] chrislusf commented on #271
Duplicating with https://github.com/klauspost/compress/issues/253

[2020-06-24 16:14] #271 closed

[2020-06-24 16:23] chrislusf commented on #253
Any update on this?

It would be great if the magic number can be prefixed without API changes.

[2020-06-30 17:33] mvdan commented on #109
Here's another reason to not use cgo by default for builds - the playground won't work, since gcc isn't installed:

https://play.golang.org/p/AYmVJDSWqUV

[code]

This is unfortunate, since the playground now has proper module support, so it could be used to share example programs with badger.

[2020-07-19 15:27] jkowalski opened #272 "s2: default compression output size change between v1.9.8 and v1.10.0"
Hi, I'm a developer of Kopia and am investigating https://github.com/kopia/kopia/issues/490

I wrote a simple test harness to repro it, which uses a single compressible file of 1073741824 bytes generated using `fio` and tries different versions of your library.

I'm running compression in two modes:

[code]

The results show that the s2-default compression output size has changed its output size (

[2020-07-19 15:36] klauspost commented on #272
Yeah. v.1.10 added assembly which had some small changes.

There was a small inaccuracy in AVX mode where hash lengths was only 5 bytes. That was tweaked here: https://github.com/klauspost/compress/pull/267/files#diff-b8f9e0c81bc4ae3fb9efeae4e85ff4fdL27

But yes, there will continously be tweaks to the code so differences are expected. Default is meant to be as fast as reasonably possible, so ther

[2020-07-21 21:58] rjoleary opened #273 "TestPredefTables fails when run on its own"
[code]

[2020-07-22 09:19] #273 closed

[2020-07-22 09:19] klauspost commented on #273
Thanks for reporting!

[2020-07-23 23:43] jkowalski commented on #272
I found a case where a particular block of data (2MiB - attached) compresses to:

944049 bytes (using v1.9.7)
1258543 bytes (using v.1.10)

The output size difference is huge (15%). Is that still expected?

Here's the repro:

[code]
[testdata.zip](https://github.com/klauspost/compress/files/4969588/testdata.zip)

[2020-07-24 04:00] ntolia commented on #272
@klauspost This looks like a large regression. Can we reopen this issue?

[2020-07-24 08:34] klauspost commented on #272
Thanks for the reproducer. I will investigate!

[2020-07-24 08:44] klauspost commented on #272
@jkowalski @ntolia With v1.10.10 is produces this output:

[code]

Same when running the version without assembly `-tags=noasm`.

[full-repro.zip](https://github.com/klauspost/compress/files/4970972/full-repro.zip)

[2020-07-24 14:30] jkowalski commented on #272
Hmm, you're right. Looks like it's back to normal on v1.10.10: Here's my repro:

[code]

[2020-07-24 14:38] klauspost commented on #272
Yes. It looks like an extreme case of the regression mentioned above.

Since the blocks change between in-compressible data and highly compressible data it would skip some of the compressible sections.

Thanks for confirming!

[2020-07-24 14:38] #272 closed

[2020-08-11 22:22] rs commented on #140
Any timeline for encoding support?

[2020-08-12 08:22] klauspost commented on #140
@rs No, no concrete timeline.

[2020-08-12 16:05] Feresey opened #277 "Extra bytes at the end of encoded buffer (zstd)"
I have found that current implementation of zstd (v1.10.10) adds three extra bytes to the end of encoded byte stream (`01 00 00`). These bytes makes unable to uncompress archive with standard GNU zstd utility.

Example code:

[code]

Prints: `28 b5 2f fd 04 00 09 00 00 30 ec af 44 12 01 00 00`

At the same time with GNU zstd:

[code]

Note last 3 extra bytes.

Also, version 1.9.0 works like the GN

[2020-08-12 16:13] klauspost commented on #277
Thanks for the report, I will take a look!

[2020-08-12 16:23] klauspost commented on #277
@Feresey It is a raw block size 0 but with a "final" block marker. Technically it should be fine, while it could be simplified.

What is the error you are seeing?

[2020-08-12 16:24] Feresey commented on #277
[code]

[2020-08-12 16:25] klauspost commented on #277
Ah, it could be that it is after the final block. 👍

[2020-08-12 16:26] klauspost commented on #277
Ah, yes

[code]

[2020-08-12 16:27] klauspost commented on #277
I will fix and also add this check to the decoder.

[2020-08-12 16:28] Feresey commented on #277
Great thanks for such rapid response! Happy to see that this problem can be resolved!

[2020-08-12 16:46] klauspost commented on #277
Fix in #277 - I will probably make a new release soon.

[2020-08-13 09:01] #277 closed

[2020-08-13 09:28] klauspost commented on #277
@Feresey `v1.10.11` has been released with the fix.

[2020-08-15 10:13] valyala opened #279 "Do not cache errors obtained from the underlying reader in all the decompressors"
### The issue

Decompressors currently cache the error returned from the underlying reader. This error shouldn't be cached, since this may break reading data when the underlying reader returns recoverable error such as read timeout.

### The solution

Do not cache errors from underlying readers during data decompression. Note that errors related to data decompression itself may be cached.
It is al

[2020-08-15 10:16] valyala commented on #279
This may lead to issues like https://github.com/VictoriaMetrics/VictoriaMetrics/issues/696 when the caller retries reading data on timeouts.

[2020-08-15 10:50] klauspost commented on #279
There is no direct correlation between input and output, so not having a persistent error is not that easy.

I suggest you write a Reader/Writer that handles retrying outside of the compression package. That will enable you to do it selectively and make it transparent. Handling it before the compression should be about the same work as handling it after.

[2020-08-15 10:50] #279 closed

[2020-09-01 19:46] klauspost commented on #140
@richardartoul @rs You can test out #281 - fuzz tests are now stable, but of course any testing helps.

[2020-09-02 13:11] rs commented on #140
Performed a quick test and it works. Performance is bad compared to a simple deflate tho, I'm not sure why.

I'm working on small payloads. I tried with different compression levels or smaller dictionaries, the compression ratio stays better than deflate but compression time is two orders or magnitude slower, even with the fastest compression level and a tiny dictionary.

[2020-09-02 13:54] klauspost commented on #140
@rs Yes. it will be slower since more state needs to be initialized. What is the actual difference you are seeing?

I do believe initialization is currently being done twice for small blocks, so some can be clawed back.

Other stuff is unavoidable. Since small blocks now suddenly have a (potentially big) history we cannot take some of the shortcuts we do for standalone blocks..

[2020-09-02 14:50] klauspost commented on #140
@rs Fixed most of the things
[code]
Same with no dictionaries:

[code]

[2020-09-02 15:23] klauspost commented on #140
So the typical setup "price" is around 0.01ms/operation. An Interesting sidepoint is that `length-19-level-fastest` is so relatively slow without the dictionary. Let me check that.

[2020-09-03 10:24] #140 closed

[2020-09-08 09:26] sumanlucky05 opened #283 "reading https://proxy.golang.org/github.com/klauspost/compress/@v/v1.10.11.zip: 403 Forbidden"
I am getting the above error while downloading this package. Is there any proxy that needs to be set. I am having an issue with only this package.

[2020-09-08 09:28] klauspost commented on #283
That is an issue with `proxy.golang.org`

See their site https://proxy.golang.org/ - they ask you to file issues here: https://golang.org/issue/new?title=proxy.golang.org

[2020-09-08 09:28] #283 closed

[2020-09-14 11:32] klauspost opened #284 "Faster small block dictionary encoding"
Dictionaries should have less overhead and probably have a separate function that allows the first block to be encoded with dictionary without initializing the entire state.

[2020-09-14 22:24] dop251 opened #285 "zstd: Should allLitEntropy be set to true in encoderOptions.setDefault()?"
Hi,

I've noticed worse zstd compression ratios after upgrading to a new version.

Turns out the compression level was not explicitly set which means allLitEntropy remains false, however the value corresponding to the default compression level should be true. Maybe worth looking at.

Many thanks.

[2020-09-15 08:45] klauspost commented on #285
@dop251 I will double check. Some tweaks were made since very small blocks spent a lot of time with little gains, but I might have missed something.

Thanks for the report!

[2020-09-19 21:00] dop251 commented on #285
Just to clarify, I think there is an inconsistency in the API, because the default compression level is `SpeedDefault`, so in theory the following 2 expressions should be equivalent:
[code]
and
[code]
however, they are not, because `zstd.WithEncoderLevel(zstd.SpeedDefault)` sets `allLitEntropy` to `true` (https://github.com/klauspost/compress/blob/a2bf5b1ec3aacf98b277bbce76074c193c0cd97e/zstd/enco

[2020-09-20 08:34] klauspost commented on #285
You are 100% correct.

[2020-09-20 09:03] #285 closed

[2020-10-15 15:32] AdamKorcz opened #289 "Continuous fuzzing"
Hello,

I see that Compress is being fuzzed which is awesome!

I would like to suggest setting up continuous fuzzing by way of Googles oss-fuzz infrastructure. Continuous fuzzing will help with running the fuzzers regularly as well as fuzzing for deeper bugs that take longer time to discover.

Oss-fuzz is a free service that is offered with an implied expectation that found bugs are fixed, so that

[2020-10-15 15:41] klauspost commented on #289
Sounds like a good idea. I am missing the continuous fuzzing.

[2020-10-15 15:47] AdamKorcz commented on #289
Sure. To proceed, please leave the email addresses for maintainers to receive bug reports, and I will setup integration.

[2020-10-22 11:44] klauspost commented on #289
Wow this is complicated to set up :/

[2020-10-22 12:37] AdamKorcz commented on #289
yeah, can be tricky. If you need me to set it up, let me know, I have it ready already

[2020-10-27 19:22] greatroar opened #290 "s2.EncodeBetter reads out of bounds and panics"
When I run

[code]

on the [attached file](https://github.com/klauspost/compress/files/5447579/s2fail.txt), I get

[code]

It looks like some bounds check is missing. The funny thing is that the program doesn't crash if I omit the `p = p[:len(p):len(p)]`, but the program were this crash first occurred didn't pull that trick.

[2020-10-27 19:27] klauspost commented on #290
That is indeed strange. I will take a look.

[2020-10-27 19:37] greatroar commented on #290
Oh right, the difference between `p[:len(p):len(p)]` and not doing that is obvious. `s2.load64` tries to force BCE, but by doing do actually extends the slice. I can see that the original program also worked until the slice's length was too close to its capacity.

[2020-10-27 19:46] klauspost commented on #290
Yeah. Found the issue. Just adding a few tests.

[2020-10-28 07:50] #290 closed

[2020-10-28 15:02] greatroar commented on #290
Thanks!

[2020-11-21 07:59] klauspost opened #296 "zstd: Decoder.Reset should allow nil input"
The decoder should allow nil input to clear references to the previous stream.

[2020-11-24 21:44] mostynb commented on #264
Since this can be difficult to get right, I started working on a couple of tiny libraries to reuse zstd Encoders and Decoders safely:
1) https://github.com/mostynb/zstdpool-freelist - Custom freelists, which allow clients to choose when and how many items to drop.
2) https://github.com/mostynb/zstdpool-syncpool - Using wrappers with finalizers that embed an Encoder/Decoder, and storing the wrapper

[2020-11-25 09:19] klauspost opened #298 "s2: Left behind goroutines"
Somehow writes can be blocking [here](https://github.com/klauspost/compress/blob/master/s2/encode.go#L587), effectively leaking the goroutine.

[2020-11-25 09:58] #298 closed

[2020-12-05 12:04] klauspost commented on #237
@ribasushi I looked into this. Unfortunately compressed blocks don't have their uncompressed size available and the sequences must be decoded, which is quite expensive.

I will still add a function to get the frame header and the first block.

[2020-12-18 08:16] #237 closed

[2020-12-18 08:16] #253 closed

[2020-12-30 12:14] #296 closed

[2021-01-12 15:24] ZachCheung commented on #277
Sorry to reply in closed issue, but I want to say this `unknown header` error takes me hours to realize it's related to this package (used `v1.10.5`), then dig changelog to find here. 😭

[2021-01-13 16:06] klauspost commented on #277
@ZachCheung Sorry, do you have a point? What would you expect me to do?

[2021-01-14 10:34] ZachCheung commented on #277
@klauspost Nope, bumped `compress` version fixed the problem.

Thanks for writing such great package. :)

[2021-01-18 08:00] vmihailenco commented on #264
I also found https://github.com/tailscale/tailscale/tree/main/smallzstd which just provides a pre-configured encoder/decoder, but proves that people would like to have a no-goroutine version...

[2021-02-10 02:53] marten-seemann opened #316 "zstd.Encoder consumes at least 8 MB of memory"
First of all, thank you for this amazing library! I'm using zstd to compress QUIC log files in [libp2p](https://github.com/libp2p/go-libp2p-quic-transport). Switching from gzip to zstd allowed me to [speed up](https://github.com/libp2p/go-libp2p-quic-transport/pull/190) the compression by roughly 6x (at comparable file sizes).

I'm running into problems regarding the memory consumption of the zstd

[2021-02-10 10:52] klauspost commented on #316
@marten-seemann You can use the [WithWindowSize](https://pkg.go.dev/github.com/klauspost/compress/zstd#WithWindowSize) to adjust the window size of the encoder.

[2021-02-11 22:36] 89z opened #317 "Xz"
I was wondering if you would consider adding Xz support. The popular Xz repo [1], decodes extremely slowly. I found another Xz that has good speed [2], but it has not been updated in some years. Plus, because of missing license, the documentation is broken [3].

I was thinking you could just copy the code from [2], then users could do:

[code]

1. https://github.com/ulikunitz/xz
2. https://github.

[2021-02-13 06:49] andrewarchi commented on #317
I too would appreciate a Go XZ decompression implementation.

For now, you can create an `io.Reader` that uses the much faster `xz` command in PATH and falls back to ulikunitz/xz, when not available. This snippet is from my [andrewarchi/archive](https://github.com/andrewarchi/archive/blob/3930910aa1f7b1a8e82f02d31c453e0941e79f4e/xz.go) repo. I haven't figured out how to make a corresponding `io.Wr

[2021-02-13 07:56] andrewarchi opened #318 "zstd decompression Seek or ReadAt"
I am not familiar with the zstd spec, but would it be possible to implement Seek or ReadAt for the zstd decompressor? I have files that I'd like to compress with zstd where I know the offset and length of the decompressed data that I want to read, but I would like to avoid reading all data up to that point, if possible.

If this is not possible with zstd, is there another compression algorithm tha

[2021-02-13 13:32] 89z commented on #317
@andrewarchi if https://github.com/ulikunitz/xz was the only Go Xz implementation, your idea would be worth considering. But as I noted, another implementation already exists with good speed. Because of that, your suggestion is poor. I would also note that your solution completely fails on Windows.

[2021-02-15 12:38] klauspost commented on #318
@andrewarchi Since zstd is stream based you are right it isn't a good match for what you are looking for.

S2 offers skipping forward without decompressing content, but again only that since it is still stream based.

I have seen that https://github.com/buengese/sgzip is a fork of my pgzip package creates an index. I haven't tested it myself.

[2021-02-15 12:38] #318 closed

[2021-02-19 10:44] #316 closed

[2021-02-19 10:49] klauspost opened #320 "s2: Create small block Go encoders"
Similar to the assembly versions, create encoders for small blocks that use less stack.

[2021-02-23 15:35] waldoweng opened #323 "question: zstd compress could not scale linearly when using multiple goroutine"
the test program is below:
[code]

and the test result is something like:
[code]

As more goroutine is use to each compress the same data(1GB), it seems for each goroutine it takes longer to compress.

cpu info of the test machine:
[code]

This confuse me since the test machine has 64 cores which should be sufficed for 20 goroutine.
Any help is appreciated. Thanks

[2021-02-23 15:47] klauspost commented on #323
This is expected until the encoder is made to fully support concurrent compression. Currently only 2 goroutines are used.

[2021-02-23 18:47] klauspost commented on #323
The way your benchmark is set up you are always benchmarking the *slowest* goroutine, since all others will have to wait. Scheduling may vary and some may finish faster than others.

Also your CPU will scale down frequencies as more load is being added, going gradually from the Max Turbo Frequency 3.20 GHz to the Base Frequency; 2.10 GHz.

Finally, you are probably also running out of memory bandw

[2021-02-23 18:47] #323 closed

[2021-03-10 13:06] klauspost commented on #317
I still have things I want to add to zstd, mainly concurrent stream compression before I'll move on to something else.

LZMA (used in xz) or brotli are candidates.

LZMA is good at "ultimate compression", but inherently slow and rarely worth it compared to zstd.

I don't like brotli, since it isn't really good at much, but being a Google project Chrome supports it, so it would be useful...

[2021-03-10 14:15] Jacalz commented on #317
I agree with you there.

I don't personally see a lot of usefulness for brotli, but my use case for wanting xz is basically just for backwards comparability. I do see zstd as the next standard in compression, but xz is still widely used. It is especially popular for distribution of source code tarballs on UNIX.

[2021-03-18 04:29] jkowalski opened #335 "increased memory usage after upgrade from 1.11.3 -> 1.11.12"
I'm running a bunch of e2e tests for Kopia in various configurations, including on 32-bit ARM box (Raspberry PI with 4GB RAM) and they have been pretty stable, until I upgraded compress library to 1.11.12. Since then the tests are seeing a bunch of OOMs like this:

https://github.com/kopia/kopia/runs/2136728758?check_suite_focus=true
https://github.com/kopia/kopia/runs/2136452986?check_suite_focus

[2021-03-18 08:30] klauspost commented on #335
Though it doesn't match the versions you mention, it likely is because of the increase in default window size: https://github.com/klauspost/compress/pull/247

You can tweak that using the [WithWindowSize](https://pkg.go.dev/github.com/klauspost/compress/zstd#WithWindowSize) encoding parameter. Down to 512KB will reduce allocations. I will add an option to make it even lower.

[2021-03-18 08:36] klauspost commented on #335
Otherwise, switch to the default compression mode which avoids this allocation altogether.

[2021-03-19 09:45] #335 closed

[2021-03-26 14:30] vmihailenco opened #347 "zstd.Writer.Reset allocates"
Running the following program

<details>
  <summary>bench.go</summary>

[code]
</details>

Produces

[code]

So it looks like `zstd.Writer.Reset` allocates a lot (~40kb) on every call. Any chances that allocation can be removed / made smaller?

PS zstd.WithLowerEncoderMem(true) does not make much difference: 19327203 vs 19007145.

[2021-03-26 15:48] klauspost commented on #347
@vmihailenco The allocs happens in the cold instance(s) you are picking up. Look at a single instance:

[code]
->
[code]

FYI #346  brings unpooled down to `10748851 B/op`. With 8MB default window size that is to be expected.

To remove allocs completely use `EncodeAll` for small payloads like this:
[code]
->
[code]

[2021-03-26 16:05] vmihailenco commented on #347
Indeed. The benchmark is so slow that it never warms up.

Thanks for your help.

:+1: I've stumbled on `enc.Reset` in a memory profile of a real prod app - somehow it is a top allocation even though I am using `sync.Pool`. This should help I guess.

[2021-03-26 16:05] #347 closed

[2021-04-14 10:25] bluego-joe opened #355 "Implement semantic versioning"
The lack of semantic versioning of this package breaks downstream projects when `go get -u all` is run.

For example, v1.12.1 removed the `snappy` package. If semantic versioning were being used this would have been v2.0.0.

This is an issue because downstream projects must now add a `replace` to their `go.mod` file until intermediate dependencies are updated.

[2021-04-14 11:06] klauspost commented on #355
@bluego-joe Pin the version. Having to deal with v2 is a much bigger hazzle than to replace an import.

Snappy package has been discouraged for years now.

[2021-04-14 11:06] #355 closed

[2021-04-19 12:19] rathann opened #356 "zstd: tests timing out on Fedora aarch64 builders"
Could you increase the timeout in https://github.com/klauspost/compress/blob/master/zstd/encoder_test.go#L201 ? This test is timing out on Fedora aarch64 builders:
[code]

Suggested patch:
[code]

With this patch applied, the tests complete successfully:
[code]

[2021-04-19 16:17] klauspost commented on #356
@rathann Sure... PR added.

[2021-04-19 16:30] #356 closed

[2021-04-22 10:33] klauspost opened #361 "s2: Crash observed..."
[code]

[2021-04-22 14:49] #361 closed

[2021-05-05 09:09] pforemski opened #370 "zstd mem leak on re-use"
Hi,

I'm using compress 1.12.2 for zstd compression, in the following manner. I'm writing many files every minute, for each file I begin with:

[code]

And then, for each file, I call the following function ~100k times:

[code]

After each call, I append the result to file, and repeat the call, hopefully re-using memory. Each file is written in a single goroutine.

I also tried the streaming API,

[2021-05-05 10:33] klauspost commented on #370
@pforemski The problem is not in the code you are supplying, except that you are not really reusing, but creating a new encoder per file.

Since you are just using `EncodeAll` you can use a single instance for *all* files. This is safe and allows for concurrent compression.

Something like:

[code]

[2021-05-05 12:10] pforemski commented on #370
Ah, I *was* re-using the encoder, but added this "re-init" as a temporary workaround to let Golang's GC collect and free old (and big) objects. I was seeing the same problem without the NewWriter call for each new file.

I know I could use single instance for all files, but I don't understand why I'm seeing 25GB of RAM usage if I have an encoder per each file. I understand an encoder can grow, but

[2021-05-05 12:22] klauspost commented on #370
@pforemski If you can supply a complete reproducer I would be happy to investigate, but for now I would only be guessing.

[2021-05-08 13:54] nightwolfz opened #371 "zstd: crash report"
My setup is pretty simple, continuously writing data from one process to another using grpc.

Compressor has been registered using the same code as here: https://github.com/mostynb/go-grpc-compression/blob/main/zstd/zstd.go

It happens about once or twice per day. This is not a OOM issue and CPU usage seems fine. The crashes happen at pretty random intervals as far as I can tell.

I'm not sure wha

[2021-05-10 08:55] klauspost commented on #370
Closing for now. Feel free to open another issue if you get a clean reproducer.

[2021-05-10 08:55] #370 closed

[2021-05-10 18:00] sloonz opened #372 "zstd reader does not transmit upstream reader failure"
If the underlying reader (the one given to zstd.NewReader) fails and returns an error, zstd just returns EOF instead of transmitting the error :

[code]

Expected result : "I'm a failure"
Actual result: "reached eof without any error !"

[2021-05-11 09:15] #372 closed, assigned to nobody

[2021-05-21 14:24] #284 closed

[2021-05-21 14:24] #101 closed

[2021-05-23 03:50] jinlianch opened #377 "Test got "invalid input: magic number mismatch""
go version go1.15.11 darwin/amd64
klauspost v12.2

I wrote a test function to calculate the compress ratio of zstd,  traversed a list of files, and call zstdKlauspostCompressRatio, got this error sometimes, "invalid input: magic number mismatch", but if I do compress the data separately, it runs well.
Failed here : _, err = decoder.WriteTo(nsrcbf)

[code]

[2021-05-23 08:46] klauspost commented on #377
Looks good on first impression. I should be able to test it tomorrow and tell you what is going on.

[2021-05-23 09:58] klauspost commented on #377
Send nil to the first reader. Maybe that helps.

[2021-05-23 15:35] jinlianch commented on #377
Yes, it work. Thanks.

[2021-05-24 07:41] klauspost commented on #377
I will see if I can reproduce the inconsistency. Do note that it will start decoding as soon as it is it constructed, but with an empty buffer there shouldn't be any output.

[2021-05-24 14:15] hiqsociety opened #378 "Using customized zstd c++ library, so exploring golang version coz current compiled c++ zstd library clashed with cgo such as datadog / valyala"
Nice work! How much slower is this compared with valyala's version in general?

I will still use this one coz of the aforementioned title problem.

How much speed improvement is possible to close the gap between pure golang vs cgo?

[2021-05-25 07:46] klauspost commented on #378
@hiqsociety There is no general answer, depends on your usage, types of files, sizes, etc.

Typical single threaded usage should be pretty close with no significant change.

[2021-05-25 10:49] klauspost commented on #377
I reproduced this with a non-racing setup. I expect to send a fix shortly.

[2021-05-25 13:20] klauspost commented on #377
@jinlianch The main problem is that `err = decoder.Reset(srcrd)` is unsafe and racy since it is still being used by the decoder. You are modifying the data while it is being read/decompressed.

I added a test that checks if any data/error is unsynchronized, but it doesn't appear there is.

[2021-05-25 13:20] #377 closed

[2021-05-28 06:59] motiejus opened #381 "zstd.Decoder omitting errors for short invalid data"
When input data is 0-3 bytes long, I would expect zstd reader to emit an error, but doesn't. I found this when writing a test case for invalid data (`"foo"`).

Barring other safeguards, this could have been a problem, when incoming data would be corrupted (e.g. empty file) and then successfully "decompressed" to an empty file. It would be good to emit an error when the input is wrong in any way, i

[2021-05-28 07:49] klauspost commented on #381
@motiejus 0 bytes in -> 0 bytes out is a valid roundtrip.

If you want this, use [WithZeroFrames](https://pkg.go.dev/github.com/klauspost/compress/zstd#WithZeroFrames) and check the input before sending.

Sizes 1-3 fixed in #382

[2021-05-28 08:56] #381 closed

[2021-05-30 09:53] peterbourgon commented on #264
Revisiting this issue, I realized I haven't described my own use case, which is similar to @twmb but not identical.

I have a service which handles tens of thousands of requests per second per instance. Acceptable and predictable performance requires that the work done by a request is constrained to that request's goroutine — no worker pools or task queues or handoff allowed. When that work includ

[2021-06-08 03:09] pushshift opened #390 "Ability to decode streams compressed with "zstd long=31""
I use very large window sizes when compressing data (up to the maximum of 2 << 31). I noticed that the package has a MaxWindowSize of 2 << 29.

How would I go about decoding streams compressed with long=31? Was support for larger window sizes purposely left out?

Thanks!

[2021-06-08 03:15] pushshift commented on #390
FYI -- I monkey patched the const located in framedec.go and was able to stream in a zstd stream encoded with long=31 without any issue. My recommendation would be to increase MaxWindowSize to the actual maximum allowed by zstandard itself (when using the long flag, this is 2 << 31).

[2021-06-08 03:53] pushshift commented on #390
https://github.com/klauspost/compress/pull/392

[2021-06-08 09:39] klauspost commented on #390
`2 << 31` is 4GB. Either way, that is just as arbitrary a limit as the current.

I made the maximum configurable and clarified the documentation. See #394

[2021-06-08 14:26] pushshift commented on #390
Thank you! That's great. Also, is 2 << 31 4GB? The warning zstd gives looks like:

[code]

Either way, that appears to be the maximum that can be used for zstd, but I really like the idea of making the window configurable. Awesome project by the way -- really impressive work!

[2021-06-08 15:00] #390 closed

[2021-06-08 15:01] klauspost commented on #390
@pushshift `2 << 31` <- you are shifting a 2, making it `1 << 32`.

Thanks for the contribution and the kind words. I have merged the PR.

[2021-06-11 08:52] klauspost opened #397 "s2: Add concurrent stream decompression"

[2021-07-09 16:55] JasonkayZK opened #407 "Package compress/snappy not found?!"
I import `github.com/kataras/iris` package which import this package；
But today i got this：
`github.com/klauspost/compress/snappy: module github.com/klauspost/compress@latest found (v1.13.1), but does not contain package github.com/klauspost/compress/snappy
`

And can not import it anymore, what should i do? pls help!!!

[2021-07-10 04:22] JasonkayZK commented on #407
problem solved!
I used `replace github.com/klauspost/compress latest => github.com/klauspost/compress 1.10.1` in go.mod solved this problem!

[2021-07-10 04:22] #407 closed

[2021-07-13 13:01] laurynasl-uber opened #408 "Write errors are not returned from WriteTo for short compressed files"
It seems that write errors from `Decoder.WriteTo` are not returned when the compressed input is short. This causes `io.Copy` calls to wrongly return success, even though a write has failed. See the test case below for an example.

[code]

Test output:
[code]

[2021-07-14 16:21] klauspost commented on #408
I am AFC and will be for a few weeks. Just to confirm, you are using the latest version? I seem to recall something like this a while back.

[2021-07-14 16:25] laurynasl-uber commented on #408
Yes, the test output included is from running on latest `master`

[2021-07-15 08:54] tony2001 opened #409 "'invalid compressed data--crc error' when using GzipHandler()"
I use gzhttp.GzipHandler() with multiple handlers in one application and *occasionally* (I reproduced it several times already) I get 'invalid compressed data--crc error' when uncompressing the data from the handler.
Can't think of any way my code could've caused it - it looks quite straightforward:
[code]
So the only possible culprit is the GzipHandler itself.
Any idea how to debug it?
I've saved

[2021-07-15 08:58] klauspost commented on #409
Could you attach the received data? Maybe inside a zip if it will not otherwise allow it.

[2021-07-15 10:01] tony2001 commented on #409
[metrics_broken.gz](https://github.com/klauspost/compress/files/6822194/metrics_broken.gz)

[2021-07-16 11:35] tony2001 commented on #409
JFYI, it looks like it was indeed my fault after all - I tried to reduce memory allocations and was caching buffers that could've been rewritten by other goroutines.
Weird that race detector didn't catch it and I still don't fully understand how it could've caused "crc error".
In any case, it's not a problem in gziphandler for sure.

[2021-07-16 11:35] #409 closed

[2021-08-02 13:25] #408 closed

[2021-08-02 13:28] laurynasl-uber commented on #408
Thanks!

[2021-08-11 14:50] LeGEC opened #414 "bug in zstd : compression produces an invalid file with SpeedBestCompression"
We hit a bug in the zstd package of this library : when compressing the attached file (the ungzipped version of that file) with level SpeedBestCompression, the compression succeeds without error, but the decompression fails with error "CRC check failed". The same error appears when trying to decompress with an external zstd decompressor.

This error did not appear in version 1.13.2 and appears in

[2021-08-11 14:52] klauspost commented on #414
@LeGEC Thanks for the report. I will investigate.

[2021-08-11 14:58] LeGEC commented on #414
updated version range : this bug appeared between 1.13.2 and 1.13.3

[2021-08-11 16:27] klauspost commented on #414
Fix is in #415 - I will test and release.

[2021-08-12 09:29] #414 closed

[2021-08-12 09:36] klauspost commented on #414
@LeGEC Released as 1.13.4. Thanks for the report!

[2021-08-16 13:42] stapelberg opened #417 "Include different LICENSEs in top-level LICENSE file"
The repository itself is licensed under the Go license at the top level (`LICENSE`).

However, there are 2 subdirectories with a different license:

1. `gzhttp/LICENSE` (Apache-2)
2. `s2/cmd/internal/readahead/LICENSE` (BSD 3-clause)

Are these parts of the code intentionally licensed differently?

If yes, could these licenses be added to the top-level `LICENSE` file please?

A common syntax seems

[2021-08-16 13:46] klauspost commented on #417
Sure.

[2021-08-17 07:55] #417 closed

[2021-08-19 02:46] #317 closed

[2021-08-19 02:49] 89z opened #419 "Fix go.mod"
Current `go.mod` looks like this:

https://github.com/klauspost/compress/blob/77932353352e54054c0b7254764c4fab4ea6c51d/go.mod#L1-L5

but it should look like this:

[code]

because of this, every single package that uses `klauspost/compress` is now getting an indirect require on the snappy package. I think you can fix it by just deleting that line in the file, and running `go mod tidy`.

[2021-08-19 04:20] Jacalz commented on #317
Why was this closed?

[2021-08-19 04:28] 89z commented on #317
@Jacalz some things have changed since I posted the issue:

this can be mitigated by doing something like this:

[code]

The above is all still true, but `ulikunitz/xz` with `bufio` is almost as fast as `xi2/xz`, so either option is good.

[2021-08-19 04:46] Jacalz commented on #317
I don't think that it necessarily solves this issue for all of our other use cases. I still think there would be a very valid reason for having a good xz implementation here.

[2021-08-19 05:19] 89z commented on #317
If you consider other modern options such as Zst, then you quickly realize that Xz is an old crappy format that needs to die. This isn't the 90s, where everyone is on dialup, and all that matters is output size. The bottleneck these days isn't network transfer, and hasn't been for several years. The bottleneck these days is decompress speed. And even in ideal conditions, Xz isn't good, and never w

[2021-08-19 09:04] klauspost commented on #419
It may be because there is only testing reference to snappy.

Maybe it would be possible to move these tests somewhere else and have a separate go.mod for that, so the main package doesn't depend on snappy.

[2021-08-19 10:01] klauspost commented on #419
Decided to just include a sparse internal package for it, so the dependency is removed.

[2021-08-19 10:22] #419 closed

[2021-08-19 13:19] rathann opened #422 "1.13.4 github.com/klauspost/compress/zip test crash with illegal instruction on s390x"
While running the testsuite I'm getting the following crash:
[code]

This is happening on Fedora rawhide only. Compared to earlier releases, the Golang package was updated to 1.17, among others. With 1.16.6 in F35 the test succeeds. There's also a new glibc (2.35 pre-release vs. 2.34). Bug in Golang, perhaps?

[2021-08-19 13:22] klauspost commented on #422
Yes, it seems like a compiler bug since we are deep into the stdlib and there is no assembly in "zip" anyway.

[2021-08-19 13:24] klauspost commented on #422
I would report this to https://github.com/golang/go/issues

I will keep this issue open until it is confirmed.

[2021-08-19 16:12] klauspost commented on #422
@rathann If you report it upstream feel free to reference this issue.

[2021-08-19 21:15] rathann commented on #422
Strangely enough, I can't reproduce this any more. I'll report it both to Fedora maintainer and upstream and link here if I manage to reproduce it again. Sorry for the noise.

[2021-08-20 07:39] #422 closed

[2021-08-20 07:40] klauspost commented on #422
@rathann Since it is in Garbage Collection, it probably is random where/when it occurs. I would report it anyway.

[2021-08-23 20:36] akshayjshah opened #423 "References for algorithm in Estimate?"
Thank you for putting together such an excellent module - it's been useful not just as a faster implementation of some stdlib packages, but as a guide to understanding the algorithms!

Do you happen to have a reference available for the algorithm and constants used in `compress.Estimate`? My math is _very_ rusty, but I think I follow the broad strokes of the algorithm: compressibility is partly th

[2021-08-24 04:31] akshayjshah commented on #423
Even after reading some references, I'm having trouble following the details of `Estimate`. I've pushed a commit to my fork with some comments highlighting the bits that I'm not following: https://github.com/klauspost/compress/compare/master...akshayjshah:estimate?expand=1

I realize that you're not here as a private tutor, but I'd appreciate any clarifications you've got the time for. If you'd li

[2021-08-24 09:11] klauspost commented on #423
There are no references and as such it was mostly an experiment to pre-classify content before compression. So most values are just handtuned to give a reasonably distributed input and match the input reasonably.

What I found was that it is just faster to actually compress the input, so I didn't end up using it for anything, but left it there if anyone actually did.

[2021-08-24 16:39] akshayjshah commented on #423
Got it! Thanks, @klauspost.

[2021-08-24 16:39] #423 closed

[2021-08-31 23:55] efabens opened #428 "when dynamic linking, R15 is clobbered by a global variable access"
When compiling in plugin mode I am getting the following error
[code]
[code]

**CONTEXT**
The requestlogger.go, uses https://github.com/tozny/utils-go/blob/b17551f08121c0f8be8e660e5004547930380ea3/stream/kakfa.go#L126 which uses https://github.com/Shopify/sarama which in turn uses this lovely library.

I sincerely wish I knew assembly well enough to be able to help resolve this issue but alas that

[2021-09-01 00:06] efabens commented on #428
Forgot to give versions.

- `go 1.17 darwin/amd64` on macOS 11.4
- `go version go1.17 linux/amd64` docker build in image based on alpine 3.14.2

[2021-09-01 04:07] teresa-recursion opened #429 "Unable to go get klauspot/compress/zstd"
I'm getting a new error when doing a `go build` for a project that has a klauspsost/compresss dependency.

[code]

I see that `github.com/klauspost/compress/zstd` exists, so I'm not sure why it's falling back on `https://proxy.golang.org/github.com/klauspost/compress/@v/v1.13.1.zip` and even then, when I navigate to that URL I download the zip successfully (although there is a 302).

I'm running `

[2021-09-01 07:03] klauspost commented on #429
@teresa-recursion Unfortunately I have no idea what is going on.

Maybe upgrade to v1.13.5

I see yo already created an issue: https://github.com/golang/go/issues/48107

[2021-09-01 07:03] #429 closed

[2021-09-01 08:56] klauspost commented on #428
Fixed by https://github.com/klauspost/compress/pull/430

[2021-09-01 08:56] #428 closed

[2021-09-01 08:56] #248 closed

[2021-09-01 15:03] efabens commented on #428
Thank You!

[2021-09-15 04:24] manedurphy opened #438 "go plugin builds failing"
A dependency that I have utilizes this library, and builds are failing after I upgraded it. The error I am getting is one that I have received before, also seen here cespare/xxhash#54. I resolved the issue before by upgrading to cespare/xxhash v2.1.2

The error I am getting now that I have upgraded my dependencies is this
[code]

I noticed some differences between the files in this repository and

[2021-09-15 07:09] klauspost commented on #438
@manedurphy Upgrade. Already fixed in #430

[2021-09-15 07:10] #438 closed

[2021-09-15 12:22] manedurphy commented on #438
I see. Hmm, I wonder why the build is still failing. I will have to investigate further. Thank you @klauspost

[2021-09-16 17:54] Jacalz opened #440 "Binaries using this as a dep are reported as malware"
I realize that this might sound like a strange issue and it most likely is, but hang with me. I got a report a while back, that my binaries for [wormhole-gui](https://github.com/Jacalz/wormhole-gui) were being flagged as potentially malware (https://github.com/Jacalz/wormhole-gui/issues/21). I initially closed the issue as I just thought it was the usual warning about unsigned binaries, but upon m

[2021-09-17 09:48] klauspost commented on #440
@Jacalz There is nothing I can really do about it. Crappy virus scanners will be crappy.

[2021-09-17 09:48] #440 closed

[2021-09-17 09:48] klauspost commented on #440
Thanks for the heads up, though.

[2021-09-18 17:10] subbu05 opened #441 "Observing go routine leaks with"
go test
testing: warning: no tests to run
PASS
goleak: Errors on successful test run: found unexpected goroutines:
[Goroutine 35 in state chan receive, with github.com/klauspost/compress/zstd.(*blockDec).startDecoder on top of the stack:
goroutine 35 [chan receive]:
github.com/klauspost/compress/zstd.(*blockDec).startDecoder(0xc000201860)
        /Users/s0m03em/go/pkg/mod/github.com/klauspost/comp

[2021-09-19 10:53] klauspost commented on #441
@subbu05 Indicates that `*Decoder.Close()` isn't called. Clearly documented that you should do that.

While it doesn't change that upgrading the decoder would be a good idea.

[2021-09-19 10:53] #441 closed

[2021-09-21 00:26] joe-elliott opened #442 "Possible snappy/s2 memory leak"
I unfortunately am unable to provide exact details or a minimally reproducible code sample, but we are seeing a memory leak when we swapped from `github.com/golang/snappy` to `github.com/klauspost/compress/snappy`. The latter definitely performed better and we were excited to try the s2 compression as well, but we will have to revert for now.

Here is [the change](https://github.com/grafana/tempo/

[2021-09-21 07:50] klauspost commented on #442
@joe-elliott Do you have an memory pprof that shows what is being leaked?

Calling Close twice shouldn't hurt, so forcefully closing before returning the Writer could help in case you don't always get it called.

[2021-09-21 18:09] szuecs opened #443 "brotli support"
https://github.com/klauspost/compress/issues/9 was closed by the issue creator and it seems that there is a working library that supports reader and writer for brotli https://github.com/andybalholm/brotli.

[2021-09-21 20:44] joe-elliott commented on #442
I've spent some time tracking down codepaths and I believe that we are always correctly calling `.Close()` on the writer. However, it is complex due to the way we are trying to pool the writer/readers and I admit there may be a gap in my analysis. I do know that `github.com/golang/snappy` is not showing this same leak, but perhaps it does not rely on `.Close()` being called to cleanup all allocati

[2021-09-21 21:37] joe-elliott commented on #442
Also, running a goroutine profile and seeing 157 encoder goroutines.

[code]
Blocked on this line:
[code]
So either we are not calling Close 100% of the time or there is some sequence of calls that can orphan this goroutine.

The calling order for the provided profiles was:
[code]

[2021-09-22 08:36] klauspost commented on #443
@szuecs Not as such, but I will likely have to do a complete rewrite for it to make sense to have here.

I don't just want to copy+paste code in here to have it here.

[2021-09-22 08:49] klauspost commented on #442
@joe-elliott That is why you IMO should just call `Close` before putting it back into the pool.

This will also dereference the upsteam `io.Writer` so you don't keep that around for no reason.

[2021-09-22 18:27] joe-elliott commented on #442
I found and fixed the issue in https://github.com/grafana/tempo/pull/980. There was one codepath that resulted in an unclosed writer. I apologize for the noise!

Thank you for your work on this excellent compression library.

[2021-09-22 18:27] #442 closed

[2021-10-07 17:26] glukasiknuro opened #444 "Unable to get similar results to presented on zstd benchmarks page"
I am trying to compare plain go zstd implementation with cgo one, and I am getting very different results than presented on https://github.com/klauspost/compress/tree/master/zstd#performance

On silesia corpus I am getting around 140MiB/s for level 1 when performing in-memory compression, while above page shows value 313.87 MiB/s - see sample code in https://github.com/glukasiknuro/go-zstd-benchma

[2021-10-20 10:58] marklit opened #446 "Rust bindings for S2?"
Would it be possible for you to build Rust bindings for S2? I haven't found any Rust crates that provide S2 support yet. Your GoLang/Assembly implementation is the only open source version I've come across.

I believe bindings could be built using a combination of rust-bindgen for converting headers, as seen in [this example](https://github.com/gyscos/zstd-rs/blob/master/zstd-safe/zstd-sys/src/bin

[2021-10-20 12:06] #446 closed, assigned to nobody

[2021-11-05 06:29] pappuks opened #448 "Add support for 16 bit FSE compression"
I have created a 16 bit image compression codec in Go for medical images at https://github.com/pappuks/medical-image-codec which uses Delta encoding, RLE, FSE and/or Huffman coding. I have added 16 bit FSE implementation, which is based on the 8 bit FSE implementation from this repository and the 16 bit FSE implementation from https://github.com/Cyan4973/FiniteStateEntropy. The 16 bit FSE implemen

[2021-11-05 09:18] klauspost commented on #448
@pappuks While it is always interesting with more features, I am curious why you choose this route, since it is generally not used.

For example ztsd uses a small FSE (35 symbols) to define literal lengths up to 128K. They have 16 that just output the immediate value and the rest are defined as an offset + read N bytes:

[code]

[2021-11-05 09:30] klauspost commented on #448
This is then used to transform a length to a code:

[code]
Once you have the code the FSE table can return the number of extra bits to write, it any.

Note how `Baseline == 1<<Number_of_Bits` which means you just need to write the lower `Number_of_Bits` of your value,. ignoring the upper bit.

[2021-11-05 15:29] pappuks commented on #448
Thanks @klauspost for your response. I am delta encoding but not using zigzag encoding, instead I am shifting the encoded value by `1 << (pixeldepth - 1)`. I will try zigzag encoding and see if that makes a difference in the number of unique values, even though I doubt it will change by much.

Right now I am seeing thousands of unique values for some of the datasets even with delta and rle encodin

[2021-11-05 16:20] klauspost commented on #448
ZigZag is fast and easy, basically interleaves positive and negative numbers: https://play.golang.org/p/Y79j8_3Ez0I

[2021-11-08 19:05] dsnet opened #449 "zstd: Encoder emits invalid empty stream"
According to the `zstd` command-line tool, an empty sequence is an invalid input:
[code]

However, [the `zstd` Go package currently emits an empty output for an empty input](https://play.golang.org/p/vUn7Hxkyz_d):
[code]

According to the `zstd` command-line tool, the shortest compressed output is the following:
[code]

[2021-11-08 19:52] klauspost commented on #449
@dsnet Use [WithZeroFrames](https://pkg.go.dev/github.com/klauspost/compress/zstd#WithZeroFrames) option.

There is nothing in the specification that requires 0 length input to be written to output. It is an interpretation by the commandline tool. Of course it allows you to verify that the input hasn't been truncated, but it isn't strictly needed.

[2021-11-08 19:52] #449 closed

[2021-11-08 19:54] dsnet commented on #449
Wouldn't it be reasonable to match the commandline tool for this behavior given that the tool is written by the same author as that zstandard specification itself?

[2021-11-18 09:31] Thanh-iT-2001 opened #450 "how to check file format from magic numbers"
can you check what compression format this code is in??
magic number is
22 4A 00 EF C6 5F 00 00 28 B5 2F FD 63 E7 55 43 0B C6 5E 3D 13 00 53 0C 2B 58 CC 0B C6 08 42 4C

[2021-11-18 11:31] klauspost commented on #450
@Thanh-iT-2001 It doesn't match anything I know.

Here are some common ones: https://github.com/minio/minio/blob/069432566fcfac1f1053677cc925ddafd750730a/cmd/untar.go#L61

[2021-11-18 11:44] Thanh-iT-2001 commented on #450
**I see There are 4 bytes 28 B5 2F FD. I thought it was zst but those 4 bytes are not at the beginning.. is there any method to check it? help me**

[2021-11-18 11:47] klauspost commented on #450
@Thanh-iT-2001 It doesn't match anything I know, sorry.

[2021-11-18 11:47] #450 closed

[2021-11-18 12:33] 3AceShowHand opened #451 "goleak: Errors on successful test run: found unexpected goroutines"
Our CI service found a potential goroutine leak, please take a look.
[code]

https://github.com/pingcap/ticdc/pull/3508

[2021-11-18 12:36] klauspost commented on #451
@3AceShowHand Make sure all decoders are [closed](https://pkg.go.dev/github.com/klauspost/compress/zstd#Decoder.Close).

[2021-11-18 12:36] #451 closed

[2021-11-30 21:11] jherman opened #457 "Re-using the same zstandard encoder over several files keeps growing memory"
I've read through some other cases on here, but I can't seem to figure out what I may be doing wrong. I'm attempting to use the same encoder, but I can literally watch my memory keep growing.  I'll even sleep the thread to see if Go's garbage collection will clear up the memory after 5 minutes, but that doesn't seem to help. I've attempted to call `runtime.GC()` just to see if it reduces any unuse

[2021-12-01 10:22] klauspost commented on #457
@jherman How much memory are we talking about?

Internal buffers (and other) are kept between uses, to reduce allocations for each run.

[2021-12-01 16:37] jherman commented on #457
After the first compression the process memory will jump about 16MB. The pattern seems to indicate it's about half each iteration, so it then adds 8MB, 4MB, 2MB, etc... It eventually plateaus around ~60MB in memory.

Is there a way to reclaim that space from the buffers between uses? Our goal is to reduce the memory footprint as much as possible. Wondering if my only option is to write compression

[2021-12-01 16:47] klauspost commented on #457
@jherman That are the buffers for the compression window.

If you don't want them, just don't keep the encoder around. The purpose is that future encodes can use them without having to reallocate.

Use [WithWindowSize](https://pkg.go.dev/github.com/klauspost/compress@v1.13.6/zstd#WithWindowSize) to reduce each window (at a compression ratio cost) and use [WithEncoderConcurrency(1)](https://pkg.go.

[2021-12-01 16:47] #457 closed

[2021-12-01 20:21] rouzier opened #459 "Expose skippable frames via the API."
Is it possible to add an API to use skippable frames.

https://github.com/facebook/zstd/blob/dev/doc/zstd_compression_format.md#skippable-frames

[2021-12-02 17:13] klauspost commented on #459
@rouzier It is possible. You can of course prepend or append it to any encode.

Adding one is fairly simple. This is used for adding the final padding, and a standalone version could look like this:

[code]
(untested, beware)

[2021-12-02 17:14] klauspost commented on #459
Adding functionality to include it should also have callbacks for getting the payloads when decoding.

[2022-01-08 16:03] bduffany opened #463 "Question: Is this package faster than DataDog/zstd now?"
I ran some benchmarks using a dataset consisting of a mixture of source code files and compiled binary files that have a compression ratio of ~0.33 on average.

I found that DataDog/zstd outperformed this library in only a few cases. In particular, I was seeing _slightly_ less decompression throughput from kp/compress for small blobs when using the streaming APIs from each package (a few % differe

[2022-01-08 16:25] klauspost commented on #463
I wouldn't expect it to be faster. The C library is extremely optimized by a lot of dedicated people, but the wrapper may have its downsides. To be honest I don't really worry about it, since CGO is so undesirable to most.

For streams I'd say it is mostly about 0.7x the speed of the c library, which is reasonable for most. For smaller objects (EncodeAll), it varies a bit more, but often close eno

[2022-01-08 16:39] bduffany commented on #463
Thank you for the reply! Is there any chance you'd be able to share the benchmarks you're using to test Compression speed? Just now I tried compressing a 114 MB file using the streaming API, and your library appears 10X faster (300MB/s, vs 30MB/s for datadog). I would like to compare the code I am using to see if I am just doing something wrong.

[2022-01-08 16:49] klauspost commented on #463
I have this rather clunky test-application:

[compress.go.gz](https://github.com/klauspost/compress/files/7833586/compress.go.gz)

I use GOPATH for it, so I can test in-branch changes of my old stuff.

Here are results for different inputs: https://docs.google.com/spreadsheets/d/1nuNE2nPfuINCZJRMt6wFWhKpToF95I47XjSsc-1rbPQ/edit?usp=sharing

This is one of the test scripts I use (windows bat script

[2022-01-08 17:12] bduffany commented on #463
Ah, I think I made a basic mistake -- I am using bazel to build and run my benchmarks, and I forgot to run with `-c opt`, which apparently is key to making DataDog/zstd run fast. After enabling `-c opt`, I am seeing DataDog/zstd have much higher performance.

Thanks! I would not have caught this without seeing `go build` in your script, which made me think about how I was building the benchmark.

[2022-01-08 17:12] #463 closed

[2022-01-09 10:11] lizthegrey opened #466 "[arm64] seqdec llTable access is extremely slow when profiled"
For some reason, the array access to llTable on seqdec.go:283 profiles as being significantly slower on arm64 than the mlTable and ofTable accesses, taking 5-10x longer than any other similar access. Disassembly attached below (note that the time is misattributed to :285, but after reordering the code order, I was able to get the problem to show up in the llTable access). this suggests the process

[2022-01-09 11:58] klauspost commented on #466
I often find this on superscalar processors. It basically shows the cost at a particular point, but in reality the processor is resolving the other instructions in parallel.

There are no branches in this piece of code, so while the PC is "stuck" at a particular point, it is actually processing the remainders. I have tried a lot of different combinations of this piece of code.

The "simpler" (but

[2022-01-09 12:05] lizthegrey commented on #466
I'll give the last a try on N1 arm64 and report back whether there's a performance improvement; if so, would suggest splitting into _arm64.go and _other.go function implementations of that `else` block and hope the compiler will inline the calls accordingly.

[2022-01-09 12:20] klauspost commented on #466
You could also try without the `if nBits == 0 {`, though I suspect it is worth the check.

[2022-01-09 13:16] klauspost commented on #466
The closest I can get:

[code]

with
[code]
I suspect getBits16ZeroARM is faster on ARM.

I prefer not to have platform specific implementations, unless it is ASM, or the gains can justify it. Mainly to keep the amount of duplicated code down.

[2022-01-09 22:48] lizthegrey commented on #466
Unfortunately, no improvement. Hrm.

[code]

[2022-01-14 14:11] #444 closed

[2022-01-18 22:01] mitar opened #474 "bzip2 support?"
There is [great library for parallel decompression for bzip2](https://github.com/cosnicolaou/pbzip2) but there is none I could find for parallel compression. Maybe this library could offer it?

[2022-01-19 08:29] klauspost commented on #474
@mitar I don't consider bzip2 that useful. Because of that I don't have any plans to implement it.

[2022-01-19 08:29] #474 closed

[2022-01-19 12:16] mitar commented on #474
Oh, why you don't find it useful? I am just curious. It supports multiple streams, has better compression than gzip, and it also supports parallel decompression (where gzip does not)?

[2022-01-19 12:43] klauspost commented on #474
@mitar Mainly extremely slow decompression, keeps it from being useful. Not sure what you mean by "multiple streams".

There are more flexible formats out there, zstandard for one is much more flexible and an order of magnitude faster for decompression.

As you can see I contributed to the decompression lib above, but I don't really see any point in spending time on a compression package.

[2022-01-25 12:36] klauspost opened #477 "Refactor zstd Decoder"
Currently working on refactoring the zstandard decoder. Goals of the refactor:

* Have fully singlethreaded decoding as option #264
* Simplify data flow.
* Split multithreaded decoding into: (continuing #100)
   * block decoder/splitter
   * literal decoding
   * sequence decoding
   * sequence execution
 * Allow multiple frames to be decoded concurrently.

[2022-01-25 12:37] klauspost commented on #264
Tracking in #477

[2022-01-28 00:13] dsnet opened #479 "Data race when mutating underlying reader"
I expect the [following code to work fine](https://go.dev/play/p/ckPAMiXitvw):
[code]

However, running this snippet reports a data race:
[code]

It's a bit fishy that `NewReader` spawns go routines, but that's okay so long as the effect is not observable by the end user. However, in this situation, the effect is observable since the go routine continues to touch `r` after `NewReader` has returned

[2022-01-28 02:55] blacktop opened #480 "lzfse support"
Would it be possible to add https://github.com/lzfse/lzfse support?

[2022-01-28 10:22] klauspost commented on #480
@blacktop I am not really sure what its purpose is. It seems like there is a 2GB size limit, so it is for blocks only.

It seems to compress worse than zstandard at default settings (level 3) and a whole lot slower - at least the library above.

A decoder could be feasible, but honestly someone should just wrap the library in cgo.

[2022-01-28 11:04] #479 closed

[2022-01-28 12:04] xwinie opened #481 "请问压缩和解压有分卷的功能吗？没看见文档"

[2022-01-28 12:30] klauspost commented on #481
No. Block and stream compression are provided. There is no functionality to divide output input into volumes.

You have to write an `io.Writer` that splits the output into separate volumes and an `io.Reader` that concatenates the volumes back to a single stream.

[2022-01-28 12:30] #481 closed

[2022-01-28 14:33] blacktop commented on #480
Ya that's what I did https://github.com/blacktop/lzfse-cgo, but it feels gross. Thought if you "liked" the algo you might pure-Go/optimize the heck out of it 😁

I hate having to introduce CGO as it makes the build process so gross and calling C is dangerous.

Lzfse is Apple's compressor of choice for most things.

[2022-01-28 16:25] blacktop commented on #480
Understood

[2022-02-01 15:33] wperron opened #485 "requestedGzip is false when `Accept-Encoding: gzip` is explicitely set on the Request"
I made a [quick gist](https://gist.github.com/wperron/11ab95a64e2c377a446f3c61e0590314) to demonstrate the issue, when running through a debugger, we can see that because `req.Header.Get("Accept-Encoding")` is not equal to an empty string, then the Transport doesn't set the `requestedGzip` to true and doesn't attempt to decode the response body.

For context on what I'm trying to do: I have this s

[2022-02-01 15:43] klauspost commented on #485
@wperron It assumes that when you set the `"Accept-Encoding"`, you are dealing with it yourself, ie. handling decompression.

That is also similar to how `http.DefaultTransport` behaves.

[2022-02-01 15:55] wperron commented on #485
Right, that's what I figured too. Thing is, I'm not setting it myself, I'm receiving the header from an incoming request and copying it over to an outgoing request. I understand the current behavior, I'm wondering if there's anything we can do here to make my use case simple to handle with the `gzhttp.Transport`?

[2022-02-01 16:21] klauspost commented on #485
@wperron Guess it depends on whether you want it to be streaming or you want requests fully in memory.  What you propose seems to be fully in-memory, which of course is risky.

If you just want to "listen in" on the data, but leave it as-is and decompress the data alongside forwarding it. Then you just need to decompress the data when read and keep the code as-is.

0. Forward requests.
1. Read res

[2022-02-01 17:05] wperron commented on #485
That's my current workaround 😅 It works alright but I don't like that if the client requested `Accept-encoding: gzip` I'm unsetting the header, so it can be re-set later on.

Yeah that's what I'm looking for, I know it's not ideal, but I need to load the response in-memory, uncompressed, so I can tweak some things.

I guess what I'm looking for is a `Transport` that passes through the provided hea

[2022-02-01 17:14] klauspost commented on #485
Ah, you want to modify the response.

TBH that seems like a reasonable thing to do all things considered. I don't really see any problem with that. Clients may set `Accept-encoding`  you can't support, so you might as well just remove it from the request entirely.

[2022-02-01 18:19] wperron commented on #485
What I don't like about it is that unless someone is familiar with `gzhttp` it's not obvious what's happening and _why_ the header is being cleared 🤷 I guess my use-case is pretty specific, I don't really have to worry about other compression algos, I'll just implement a Transport of my own then. Thanks for your time 🙂

[2022-02-01 18:19] #485 closed

[2022-02-02 10:18] klauspost commented on #485
@wperron I think a short comment can explain that. Basically it is just so you can control upstream compression independent of downstream compression.

[2022-02-03 04:43] tanner-bruce opened #487 "Retrieve decoded size from snappy encoded data without decoding"
In grpc-go it's possible to help optimize the allocations during message decoding by providing the [decoded size up front](https://github.com/grpc/grpc-go/blob/master/encoding/encoding.go#L52-L55). Is it possible to do this with this library?

[2022-02-03 08:49] MarkusFreitag commented on #477
Currently the `*zstd.Decoder` has a `Close` method without a return value and so does not fulfill the `io.ReadCloser` interface. Is this something that can be changed during the refactoring?

I'm not sure whether this belongs to this issue, if not I'm happy to create a new own.

[2022-02-03 09:31] klauspost commented on #477
@MarkusFreitag No. That would be a breaking change. Use [IOReadCloser](https://pkg.go.dev/github.com/klauspost/compress@v1.14.2/zstd#Decoder.IOReadCloser).

It shouldn't be used like a standard ReadCloser, so I on purpose does not support the interface.

[2022-02-14 15:51] oneumyvakin opened #495 "Does zstd supports sparse files?"
Hello, could you please share does zstd compressor/decompressor aware about sparse files? https://en.wikipedia.org/wiki/Sparse_file
As far as I see here https://manpages.debian.org/unstable/zstd/zstd.1.en.html this implementation is aware about sparse support
[code]

[2022-02-14 16:11] #495 closed, assigned to nobody

[2022-02-17 06:51] ahmad-kemsan opened #497 "The compiled binary contains lot of test data"
Issue description

On static analysis of the binary, generated after compiling our go fiber app we found out a lot of text and links in the final binary, which turned out to be test data in the package.

Please check this issue:

https://github.com/gofiber/fiber/issues/1782

[2022-02-17 10:11] klauspost commented on #497
This is the [brotli dictionary](https://github.com/nishemon/get-brotli-dictionary). From github.com/andybalholm/brotli

Seems like it has text from common benchmarks. Cheaters.

[2022-02-17 10:11] #497 closed

[2022-02-24 10:48] klauspost commented on #264
Just realized this was for encoding.

https://github.com/klauspost/compress/pull/498 is now ready for *decoding*.

[2022-02-24 11:21] #477 closed

[2022-02-26 08:18] Elsokary22 opened #504 "تراند اخبار وهزار"

[2022-02-27 01:30] twmb commented on #264
Very exciting! Is the intent to merge & tag as v1.14.5 ~soon?

[2022-02-27 09:31] #264 closed

[2022-02-27 09:32] klauspost commented on #264
Yes, through it will probably be 1.15.0 since decoder differences to the previous that doesn't make it a 100% trivial update.

Fuzz tests looks good. It is merged to master now, feel free to test it out.

[2022-02-28 16:45] saracen opened #508 "Potential nil pointer deference"
@klauspost After upgrading fastzip to v1.14.4, a user of GItLab-Runner has submitted this report:

[code]

https://gitlab.com/gitlab-org/gitlab-runner/-/issues/28903#note_857128578

This might be entirely my fault with how I'm calling your library from `fastzip`, but not much has changed for fastzip. I think Runner was previously using `compress` `v1.11.6`.

Is there anything obvious to you as to

[2022-02-28 16:56] klauspost commented on #508
Thanks! I will investigate!

[2022-02-28 17:15] klauspost commented on #508
@saracen This is strange.

The [referenced code](https://github.com/klauspost/compress/blob/v1.14.4/flate/token.go#L373) is impossible to crash.

The `AddMatchLong(0xc000ba800e, 0xba8000, 0xc0)` parameters also looks suspicious. A match length of `0xba8000` is as far as I can tell impossible. This alone is not enough to make it crash.

I could however be reading the stack trace wrong (or it could

[2022-02-28 17:24] klauspost commented on #508
My guess is that [`func (fw *flateWriter) Close() error`](https://github.com/saracen/fastzip/blob/main/register.go#L89) gets called twice (or more), so you get the same writer several times in the pool.

[2022-02-28 18:09] saracen commented on #508
Very strange indeed.

I'm not sure it's possible I'm calling `Close()` multiple times. This is the only location for getting the writer from the pool and closing it (placing it back): https://github.com/saracen/fastzip/blob/main/archiver.go#L261-L271

I'll continue digging though. Thanks for your help

[2022-02-28 18:17] klauspost commented on #508
@saracen I suspect running with tests with `-race` could give a hint.

[2022-02-28 18:55] klauspost commented on #508
Looked through the code (in fastzip), and I cannot find anything wrong. I will continue the investigation tomorrow.

The trace definitely looks wonky.

[code]

`offsetCodes` is a 256 sized array, so `uint8(off)` literally cannot crash. and definitely not with `invalid memory address or nil pointer dereference`. Even crashing in line 275 would cause an out-of-bounds and not invalid memory address.

[2022-03-01 07:52] klauspost commented on #508
@saracen I will need something closer to a reproducer.

I suggest you protect your flateWriter from double closing. Even if it may not be the issue here, it is good practice for `io.Closer`.

[code]

[2022-03-02 03:35] twmb commented on #264
I tested this locally and saw ~5% increase in compressing throughput (realizing now that I did not check decompressing), but I keep the zstd encoders / decoders quite restricted. Thank you again for the work here!

[2022-03-02 23:51] saracen commented on #508
@klauspost Another failure, outside either of our libraries, was reported by the same user. I don't know what's happening, but it's likely unrelated to anything we're doing.

Thank you for taking time to look into this.

[2022-03-02 23:51] #508 closed

[2022-03-03 08:23] klauspost commented on #508
@saracen Did you manage to find the root cause?

[2022-03-03 18:57] saracen commented on #508
We have not, but there's additional logs from the user here: https://gitlab.com/gitlab-org/gitlab-runner/-/issues/28903#note_861833488

Crashes appear to be happening at random points and in equally impossible situations.

[2022-03-07 08:18] #130 closed

[2022-03-07 10:51] klauspost opened #515 "zstd: Decoder assembly (tracking)"
The decompressor rewrite #498 was also targeted at providing assembly rewrites of important parts.  Splitting this into a separate function was to make it easy to assembler optimize.

The major one is the sequence execution: https://github.com/klauspost/compress/blob/master/zstd/seqdec.go#L244

A bit of a harder task is the sequence decoding: https://github.com/klauspost/compress/blob/master/zstd/

[2022-03-07 18:39] klauspost commented on #515
@WojciechMula Sounds great. Looking forward to that!

[2022-03-10 10:31] klauspost opened #526 "Possibly revert #522"
It seems like #522 was unintentional, see https://github.com/facebook/zstd/issues/3090

Revert #522 when above is resolved.

[2022-03-11 07:58] #526 closed

[2022-03-11 08:28] WojciechMula opened #529 "Translate assembly text templates into avo programs"
The assembler procedures are currently generated from text templates. As @klauspost suggested, it would be easier to maintain this quite complex code with `avo` (https://github.com/mmcloughlin/avo).

[2022-03-11 08:54] klauspost commented on #529
Yeah, no biggie. We can do it when it suits you. Should be pretty straightforward. If you'd like I can help out, or do the initial translation from your templates.

[2022-03-11 09:57] WojciechMula commented on #529
I plan to add `sequeceDecs.execute` implementation as text templates, as this is something I already have. Then I'll convert `decode` and `execute` into `avo`. And then it will be easier to implement `decodeSync`.

[2022-03-11 18:02] klauspost commented on #529
@WojciechMula I started to convert the `sequenceDecs_decode_amd64`, just to get you started.

[2022-03-11 18:06] WojciechMula commented on #529
Great, I planned to work on this the next week. I wanted to complete the already opened PRs before.

[2022-03-13 16:31] klauspost commented on #529
@WojciechMula https://gist.github.com/klauspost/8949f70d98dd94116392019f119087e5

Ended up doing it all, but did test it at all.

Place in a subfolder called `_generate`, as the s2.

I think we should just do a standalone cpuid check for now.

[2022-03-13 16:38] klauspost commented on #529
You can rearrange as you see fit. I don't want `avo` as a dependency, since it isn't needed, that is why it is in a separate folder - that is my only real requirement.

[2022-03-14 10:07] klauspost commented on #529
Made a few tweaks and added more documentation. Unfortunately it crashes. Tried to debug a bit, but I will have to leave it for a while, until I've caught up on other things.

[2022-03-14 14:48] rathann opened #532 "test timeouts on ARM 64-bit (aarch64)"
Some of the tests are timing out on my Pinebook Pro. In particular, the `s2` tests take over 20 minutes:
[code]
and `zstd` tests take over 13 minutes:
[code]
For the first issue, I had to increase the global per-package timeout (`-test.timeout 1500s`) and for the second, I had to apply this patch:
[code]

[2022-03-14 15:12] klauspost commented on #532
@rathann What would you like to be done?

[2022-03-14 15:17] rathann commented on #532
I guess I'd like you to increase timeouts for the `s2` and `zstd` tests accordingly.

[2022-03-14 15:20] #532 closed, assigned to nobody

[2022-03-14 16:41] WojciechMula commented on #529
That looks great, thank you. Let me continue your work, I'll work more on this on Tuesday.

[2022-03-14 16:50] klauspost commented on #529
@WojciechMula Got it to not crash, but *only* output wrong values. I will see if I can get it to pass 🤞🏼

[2022-03-16 10:13] klauspost commented on #529
@WojciechMula Did you manage to spot my mistake, otherwise I will take another look through the code.

[2022-03-16 10:22] WojciechMula commented on #529
Sorry, didn't check it yesterday. I planned to look at that problem this evening.

[2022-03-16 10:24] klauspost commented on #529
Sure. I will take another pass through it.

[2022-03-17 07:04] WojciechMula commented on #529
That's great news! Speaking of improvements, I'm wondering if it's possible to front-pad a bit-stream data with four zero bytes. Then we will not need to have to test `off > 4`.

[2022-03-17 08:37] WojciechMula commented on #529
@klauspost You wrote "TODO: We should be able to extract bits with BEXTRQ". I tried it already, the code is not shorter and isn't faster.

[code]

The current solution:

[code]

[2022-03-17 09:07] klauspost commented on #529
We will. Bad codes can cause considerable underrun, much beyond 4 bytes.

The branch is fully predictable until it is taken, so potential performance improvement will be low-to-none.

[2022-03-17 10:57] klauspost commented on #529
I am not concerned about further opts right now.

Once we have the pipeline implemented we can look at the overall picture and do microopts, like looking at register allocs, etc.

Having execute with history and decodeSync (doesn't need history AFAIR) would be a great start.

[2022-03-17 11:47] WojciechMula commented on #529
@klauspost Did you have any problems with any of these lines `Load(ctx.Field("llState"), llState)`? I'm getting the error "component is not primitive". I changed type of field to uint64 to work around this, but that's strange - `decSymbol` is mere alias for uint64.

[2022-03-17 11:52] klauspost commented on #529
@WojciechMula Oh, yeah, totally forgot:

[code]

[2022-03-18 09:50] WojciechMula commented on #529
I'll translate also Decompress4X from `huff0` module.

[2022-03-18 09:54] klauspost commented on #529
@WojciechMula I am not going to stop you :)

[2022-03-18 10:04] WojciechMula commented on #529
@klauspost I also saw you add some TODO items to `sequenceDecs.decode`, so I'll check them too.

[2022-03-18 10:07] klauspost commented on #529
Did some small tweaks here: https://github.com/klauspost/compress/pull/537 - having to wait a bit before I can bench.

[2022-04-04 14:10] klauspost opened #549 "zstd: Crash in executeSimple_amd64"
[code]

Repro: [03c8111bafdf29774aee4d803e8e5b65381171c7.gz](https://github.com/klauspost/compress/files/8410347/03c8111bafdf29774aee4d803e8e5b65381171c7.gz)

@WojciechMula

[code]

[2022-04-04 17:59] WojciechMula commented on #549
Thanks, I will check it.

[2022-04-05 17:04] klauspost commented on #549
@WojciechMula This reproduces the error fairly reliable by forcing history to be a 0 pointer:

[code]

It seems like history copying can be triggered even if there is no history.

[code]

[2022-04-05 17:10] klauspost commented on #549
[code]

... skips the offset check. Sending a PR.

[2022-04-05 18:09] klauspost opened #552 "Another sequenceDecs_executeSimple_amd64 crash"
[code]

[2022-04-05 18:10] klauspost commented on #552
Literals cannot overread by default @WojciechMula - I suspect that is the issue.

[2022-04-06 08:08] #549 closed

[2022-04-06 08:50] #552 closed

[2022-04-07 00:47] SaveTheRbtz opened #554 "s2: index speedup"
Currently index `Find` operations are using linear search, which are simple but quite slow: https://github.com/klauspost/compress/blob/458f43587a830eaa9948e7dc3c0015e217e2576f/s2/index.go#L103-L109.

What do you think about replacing them with either:
* binary search through sort.Search
* btree-based index through https://github.com/google/btree

[2022-04-07 10:14] klauspost commented on #554
@SaveTheRbtz Indexes are limited to 65535 entries, so a linear search will never really be that expensive.

Sorted search is faster at ~200 entries, so I will add that.

[2022-04-07 10:55] #554 closed

[2022-04-07 11:13] SaveTheRbtz commented on #554
Wow, that was fast!! And here I thought about starting to implement it, lol =)))

[2022-04-14 09:56] WojciechMula opened #556 "`DecodeAll` without checks"
Background: we may decode the same compressed data several times. Although it's possible the data is broken, then in such a case we won't try to decode it again.

I'm wondering if it would be possible to introduce a variant of decoding, where all sanity checks are not performed (like: if literals are big enough, if match length is within a range, and so on, so forth),

A client code would use it l

[2022-04-14 17:48] klauspost commented on #556
(afk - on mobile, so short answer)

I honestly don't think there will be much difference. Branches are predictable and there aren't really that many checks.

The important part is allocations, which go away on the second uses.

I don't really want potentially crashing code to be available. So a "probably no". Maybe if enabled by a build tag.

[2022-04-15 07:57] jiangjiangjiangjiangjiangjiangjiang opened #557 "how to compress folder?"
looking forward to a reply

[2022-04-15 19:24] WojciechMula commented on #556
Thank you for the answer. I fully understand you don't want an unsafe code.

[2022-04-17 16:47] Jacalz commented on #557
You can't compress a directory directly but it can be done by creating an archive and then compressing that (for zip, the compression is usually done as part of the archiving process).

Zip: http://stackoverflow.com/questions/37869793/ddg#4923332
Tar: http://stackoverflow.com/questions/39646584/ddg#39647084

[2022-04-18 14:52] klauspost commented on #557
Correct, also check [archiver](https://github.com/mholt/archiver).

[2022-04-18 14:52] #557 closed

[2022-04-21 13:27] WojciechMula commented on #556
I have just checked the version without checks --- no significant changes were noticed in benchmarks. The biggest speedup is 1.05x, and some quite significant regressions

[2022-04-21 13:27] #556 closed

[2022-04-21 13:48] jiangjiangjiangjiangjiangjiangjiang opened #558 "why? my decompress is long time"
zstd file size: 222M
take time of zstd decompress: 4s

my code:
[code]

[2022-04-21 15:11] klauspost commented on #558
Slow disk?

How long does it take to copy `ioutil.Discard`?

I am really just guessing. It could also be that your file is huge. No idea really.

[2022-04-21 15:11] #558 closed

[2022-04-21 15:13] klauspost opened #561 "asm panic: runtime error: index out of range"
From fuzz tests:
[code]
Sample: [002135096346d2e9c82e7b0b5ef85bacd61ddc17.gz](https://github.com/klauspost/compress/files/8532247/002135096346d2e9c82e7b0b5ef85bacd61ddc17.gz)

[2022-04-21 15:13] klauspost commented on #561
@WojciechMula

[2022-04-21 15:16] klauspost commented on #561
Maybe: `i := len(seqs) - ctx.iteration - 1`?

[2022-04-21 15:17] klauspost opened #562 "crash sequenceDecs_decodeSync_bmi2"
[code]
Input: [5442d1febd1324b35c667ea502d93dc531f3f83d.gz](https://github.com/klauspost/compress/files/8532276/5442d1febd1324b35c667ea502d93dc531f3f83d.gz)

Current master

@WojciechMula Could you take a look?

[2022-04-21 15:21] klauspost opened #563 "crash, decoder.go:322"
[code]

Looks like some sort of corruption.

Input: [05d57667c86a14c61262c925d95d398c6e921012.gz](https://github.com/klauspost/compress/files/8532300/05d57667c86a14c61262c925d95d398c6e921012.gz)

@WojciechMula could you check it out?

[2022-04-21 21:26] WojciechMula commented on #561
I'm looking at this, please assign me.

[2022-04-22 07:50] klauspost commented on #563
@WojciechMula I suspect we are writing more than cap of the output slice.

Are there checks to abort as soon as we reach the cap or max block size?

[2022-04-22 07:51] klauspost commented on #562
Root cause could easily be the same as #563

[2022-04-22 07:52] klauspost commented on #561
I have added the change to #559 for now.

[2022-04-22 07:54] #561 closed

[2022-04-22 08:57] WojciechMula commented on #563
I'm working on this. BTW, for that file the C implementation prints:

[code]

[2022-04-22 20:31] WojciechMula commented on #562
You were right. I added the file from this issue to the regression set.

[2022-04-22 20:35] WojciechMula commented on #563
No, I removed the runtime check when I was cleaning up the retrying functionality. Restored the test.

[2022-04-24 15:24] #562 closed

[2022-04-24 21:44] mmcloughlin commented on #529
:eyes:

[2022-04-25 08:13] klauspost commented on #563
Fixed 👍🏼 Fuzz tests now running for 30mins, no problems so far.

[2022-04-25 17:03] WojciechMula commented on #515
@klauspost Thanks for fixing the issue. I agree that translation into avo can be done later, I don't have anything that blocks the release.

[2022-04-26 19:51] WojciechMula opened #571 "zstd: explicitly disable checksum checking"
This is follow up of #556. In short: we're decompressing the same files over and over. We measured that checksumming takes ~15% of decompression time. We want to conditionally perform checksumming (likely: for the first time).

Would it be possible to add an option to the decoder, like `WithChecksum(false)`?

[2022-04-27 08:15] klauspost commented on #571
Yes, sounds reasonable. I would rather have it be `IgnoreChecksum(true)`, but that is a detail.

[2022-04-27 08:36] WojciechMula commented on #571
Great! I will prepare a PR for this.

[2022-04-27 08:38] WojciechMula commented on #515
Thank you @klauspost for the great support and testing! It took more than I expected (heh, as always), but the final result is really nice. And I hope it enables further speeding up.

[2022-04-28 09:57] #571 closed

[2022-04-29 11:25] jlnieh opened #574 "Incompatible seek function of the s2.ReadSeeker if 'whence' is using 'io.SeekEnd'"
Incompatible behavior to use the Seek function of the **s2.ReadSeeker** with s2 Index when using `whence=io.SeekEnd`

- Version: v1.15.2
- Issue description:
  - `filesize, err = rs.Seek(0, io.SeekEnd)`,  expect to get the uncompressed file size, but currently return 0
  - `pos, err = rs.Seek(-10, io.SeekEnd)`, expect to get position at last 10-bytes from end of uncompressed file, but currently re

[2022-04-29 12:36] klauspost commented on #574
Thanks for the report! Added a fix I will merge shortly.

[2022-04-29 13:05] #574 closed

[2022-05-02 21:41] WojciechMula opened #576 "huff0: avoid copying in `decompress4x` asm routine"
The Go implementation uses an auxiliary buffer to avoid extensive bound checks. In the asm implementation we know in advance the output buffer is big enough, so it's possible to write directly to that buffer.

[2022-05-06 03:13] yingfeng opened #578 "Performance comparison between assembly and cgo"
Hi folks,
I noticed that parts of encoding/decoding snippets are accelerated using assembly. Have you made any performance comparison of using cgo for corresponding acceleration? Although cgo itself has a remarkable overhead around 100ns for each call, it might be negligible given larger batch inputs. On the other hand, assembly itself also has the shortcomings such that it could not be inlined, s

[2022-05-06 04:48] WojciechMula commented on #578
The comment from my side: I wanted to avoid cgo or bindings to C libraries. Either pure go or assembly.

Speaking of performance comparison, I checked `zstd` decompression speed against bindings to a C library - both https://github.com/DataDog/zstd and https://github.com/valyala/gozstd. The compiled C code is faster in most cases, but for highly compressible files I noticed that performance was pr

[2022-05-06 05:02] yingfeng commented on #578
Hmm, so adopting assembly instead of cgo is just a choice of taste... right ?

[2022-05-09 12:24] #576 closed

[2022-05-09 12:25] WojciechMula commented on #529
OK, now we have pure `avo` code. That's great.

[2022-05-09 12:25] #529 closed

[2022-05-11 07:47] lrita opened #585 "Too small BlockSizeMax of compress/huff0 to make users cannot import a large zstd dictionary."
https://github.com/klauspost/compress/blob/d507a956c12080b811adf71454d2173912efdc91/huff0/huff0.go#L26-L27

https://github.com/facebook/zstd/blob/dev/programs/zstd.1.md

due to the limit of BlockSizeMax is 128kb and the zstd program can generate a given size dictionary by user input `--maxdict=#`.

[2022-05-11 08:11] klauspost commented on #585
@lrita Could you explain the problem? These two things aren't related. Could you post a reproducer of the issue?

[2022-05-11 08:19] lrita commented on #585
https://github.com/klauspost/compress/blob/d507a956c12080b811adf71454d2173912efdc91/zstd/encoder_options.go#L308-L317

will return [ErrTooBig](https://github.com/klauspost/compress/blob/master/huff0/huff0.go#L38) when the dictionary is large than the 128kb.

[2022-05-11 08:23] klauspost commented on #585
@lrita Ah, ok. Now I see. Should be a rather easy fix. Thanks for the report!

[2022-05-11 09:20] #585 closed

[2022-05-11 14:04] WojciechMula opened #587 "zstd: async execute idea"
The key idea: we separately copy the literals and copy from history. My gut feeling is that literals are usually less frequent than references to history. The sketch of algorithm woule be like this:

[code]

@klauspost do you think it makes sense? It's just a random idea. :)

[2022-05-11 15:40] Jacalz opened #589 "flate: remove compressor.hash field"
I found the commit https://github.com/golang/go/commit/949b3e9880bbce0740d1af327b91a0040fe2e12b recently landing for Go 1.19. From what I can tell from the code here in this project, most of the code that is removed in that commit is already present here. Would it be possible to apply something similar in this project?

[2022-05-11 16:03] klauspost commented on #589
@Jacalz I doubt it will make much of a difference, but it is also cannot hurt.

[2022-05-12 05:30] WojciechMula commented on #587
I was wrong, in 99% of cases (in tests) literals are present to the very end.

[2022-05-12 05:30] #587 closed

[2022-05-12 06:10] klauspost commented on #587
@WojciechMula I have also tested with 16-byte literal copies for literals. Slower for decodeSync (blocks) and streams:

[code]

Only a benefit with a large number of literals and very few matches.

[2022-05-12 09:20] klauspost commented on #587
@WojciechMula Whooops... wrong benchmark, opening PR with real numbers.

[2022-05-13 04:56] WojciechMula opened #595 "huff0: provide asm implementation of Decompress1X"
`Decompress1X` uses a similar approach to `Decompress4X` -- it first writes data to an auxiliary buffer, and the buffer is later appended to the output. In an asm we can write directly to the output (see: #577).

[2022-05-13 06:23] WojciechMula commented on #595
@klauspost there is dead code: https://github.com/klauspost/compress/blob/master/huff0/decompress.go#L310. Should it be re-enabled?

[2022-05-19 15:50] Jacalz commented on #589
It looks like https://github.com/golang/go/commit/c25c37137db98323510752f53e93128809a8767c landet after the commit mentioned above. I don't know if it is applicable here and if it makes a difference.

[2022-05-23 12:47] klauspost commented on #589
@Jacalz That is totally BS. The ONLY relevant difference in the ENCODER is

[code]

The rest is DECODER differences, completely unaffected by this change.

[2022-05-23 13:16] Jacalz commented on #589
Yeah, I suspected as much. All those upstream commits as of late seem to make almost no changes and report massive speedups. Something is wonky.

[2022-05-23 14:15] klauspost commented on #589
Yeah, not bothering with this one. Maybe next time I'm around that code, if it is there.

[2022-05-23 14:15] #589 closed

[2022-05-23 14:49] Jacalz commented on #589
Have you reached any conclusion on the open PR?

[2022-05-23 15:01] klauspost commented on #595
@WojciechMula Crashers happen after merge :(

Sample [crashers.zip](https://github.com/klauspost/compress/files/8755706/crashers.zip)

Could you PTAL?

[2022-05-23 15:02] klauspost commented on #595
Test is rather simple:
[code]

[2022-05-24 07:57] klauspost commented on #595
[code]

[2022-05-24 10:02] klauspost commented on #595
@WojciechMula Please confirm that you are looking at this, otherwise I will have to revert.

[2022-05-24 10:30] WojciechMula commented on #595
@klauspost I will take a look on Thursday. Please revert if it blocks anything, I'll back with a fix.

[2022-05-24 15:38] klauspost commented on #595
No worries. Just don't want releases to be blocked if an urgent issue should come in.

[2022-05-24 16:06] klauspost opened #600 "s2: Investigate crash"
"Random" failure. Should be investigated.

[code]

[2022-05-25 09:14] klauspost commented on #600
Seems like OOB read. Source cannot be over-read.

[2022-05-25 09:58] #600 closed

[2022-05-26 07:22] WojciechMula opened #603 "Use golang.org/x/sys/cpu to detect BMI2"
How about using this module rather than our custom asm procedure?

[2022-05-26 08:00] klauspost commented on #603
If I wanted an external dependency, I'd obviously use https://github.com/klauspost/cpuid

[2022-05-26 08:17] WojciechMula commented on #603
OK, I didn't notice it's an external module; thought it's something like an "internal" builtin.

[2022-05-26 08:17] #603 closed

[2022-05-31 09:26] klauspost commented on #595
Released

[2022-05-31 09:26] #595 closed

[2022-06-06 09:15] prymitive opened #616 "Clarify project status"
Are you still trying to get this library changes merged upstream? I found an old ticket - #3  - but that's a few years now.
I found this library to offer a decent CPU savings (31 -> 30 cpu cores on  a busy server) when using it in Prometheus - https://github.com/prometheus/prometheus/pull/10782, so I wanted to propose using it there by default.
But this opens a questions:
- how stable is this code

[2022-06-09 10:32] riton opened #623 "[zip] 7z complains about "Headers Error" when large files are added to a zip archive"
Hi,

### Context

I'm trying to generate a _zip archive_ of huge files (something like 2GB each).

The generated _zip archive_ can successfully be extracted using my Ubuntu `unzip` command.
But it raises an error when I try to extract using my graphical user interface or `7z`.

Here is the output of `7z` in _test integrity_ mode:

[code]

Since `unzip` is able to extract the files, I would say tha

[2022-06-09 10:36] riton commented on #623
_Note_ : I'm getting the same error if I use the `archive/zip` standard library package instead of yours.

I'm quite confused about what I'm missing here.

[2022-06-09 10:44] klauspost commented on #623
Without knowing what 7z is complaining about it is rather hard to know.

"Zip64" and Zip in general has a lot of legacy and not too well defined extensions. So "Headers Error" is rather useless to find out what it is expecting.

Is 7z able to decompress the file?

[2022-06-09 11:18] klauspost commented on #623
Seems like the UI has slightly more information:

![image](https://user-images.githubusercontent.com/5663952/172834684-8e0f06ba-f2c1-443d-a20b-b4281a194159.png)

[2022-06-09 11:45] riton commented on #623
So if I understand correctly:
* `7z` is _more strict_ than other archive managers here
* I'm doing things as they're supposed to be done to create the `zip` archive

Thanks for your investigation and time.

[2022-06-09 11:49] riton commented on #623
_Note_ : the issue mentioned in https://sourceforge.net/p/sevenzip/discussion/45797/thread/13e7d575/#e90f may be https://github.com/golang/go/issues/33116

[2022-06-09 12:55] klauspost commented on #623
Yes. I see I accidentally reverted the fix for it in #432

[2022-06-09 13:17] #623 closed

[2022-06-09 20:57] riton commented on #623
For information, I've tried the version at 999ca1093d2e but `7z` still emits _warnings_ with the generated archive:

[code]

and the output of `7z`:

[code]

`7z` is still able to extract the archive but still exits with an error status.

I'm letting you reopen this issue if you think there is something to fix here. Otherwise I accept and keep in mind that `7z` is _more strict_ than other `zip` ar

[2022-06-10 09:58] klauspost commented on #623
Hmmm... the 7zip UI no longer shows any error:

![image](https://user-images.githubusercontent.com/5663952/173040968-b5b02a49-60e4-493b-8189-ddc5a6da63c4.png)

WinZip is also happy about the file:

[code]

[2022-06-10 12:05] riton commented on #623
Okay, understood. This seems related to the default version of `7-Zip`  present on my Ubuntu workstation.

### Different 7zip versions

#### My Ubuntu workstation default version

By using the default `7z` utility on my workstation, I get:

[code]

#### With the latest 7-Zip version from the official website

With the latest version of `7-Zip` retrieved from https://www.7-zip.org/download.html no

[2022-06-13 16:10] wuanVN0704 opened #626 "Help me"
Can you decompress this file? @klauspost
Link file: https://drive.google.com/file/d/1jwlABNJbsPcSR1uUyrhsJCmpScTDeOYx/view?usp=drivesdk

[2022-06-13 16:17] klauspost commented on #626
Sorry, without more information I cannot help you.

There is no signature or anything to help identify the format.

[2022-06-13 16:17] #626 closed

[2022-06-19 11:53] CalebQ42 opened #628 "Incorrect decompression with WithDecoderConcurrency(1) or DecodeAll"
I'm using your zstd library in my [squashfs library](https://github.com/CalebQ42/squashfs) and have run into a weird edge case. It seems that sometime when I decompress some data, I'm not getting the correct output. The weird thing is that the issue only arises when I pass `WithDecoderConcurrency(1)` or use `DecodeAll`. If I use `WithDecoderConcurrency` with any number other than 1 (and don't use

[2022-06-19 15:48] klauspost commented on #628
Could you share the code used to decompress and/or a sample input?

[2022-06-19 21:20] CalebQ42 commented on #628
The important code is essentially

`decompress/interface.go`
[code]
squashfs archives can use six different types of compression so I need an interface I can use.

`decompress/zstd.go`
[code]
`metadata/reader.go`
[code]

I am currently running into some issues with performance, I'm guessing due to creating a new Decoder every time I need to decompress a block. I ran into the issue when I tried swi

[2022-06-20 06:11] CalebQ42 commented on #628
I'm looking into it a bit more, but I'm having trouble figuring out what's actually going on. I had my library dump out each block and the result with DecodeAll and using the Decoder directly without any options and... no difference. I used meld (which compares file contents) and there was no difference. Very weird.

[2022-06-20 07:05] klauspost commented on #628
@CalebQ42 Thanks a lot for the detailed info. Sounds a lot like some sort of data race. I will take a look and see what could be the possible reason for it.

[2022-06-23 17:54] noxer opened #630 "runtime error: index out of range [4294967295] with length 16 in github.com/klauspost/compress@v1.15.1/flate"
We've seen a sentry crash in version 1.15.1 of `klauspost/compress`. The code seems to be essentially the same on `master` as on `v1.15.1` and the history doesn't indicate a fix for this, so I'm opening a new issue.

[code]
## OS / Arch
Linux / AMD64
## Go version
1.18.1

[2022-06-23 18:07] klauspost commented on #630
👍🏼 It could be more than one goroutine writing at once. Let me know what you find.

[2022-06-23 18:11] noxer commented on #630
Will do, thanks.

[2022-06-28 18:46] JustinAzoff opened #632 "s2: non Indexed Seek may seek to the wrong offset"
Hi!

I have noticed an issue where the non-indexed Seek code may skip to the wrong offset depending on what parameters are used.  I'm not quite sure what is wrong yet, but I was able to work out a test case that shows the issue well.

This writes 1,000,000 25 byte records, then attempts to seek through them using different skip lengths.  The part that made this hard to track down is that for small

[2022-06-29 07:06] klauspost commented on #632
Thanks for the reproducer. I will take a look!

[2022-06-29 08:44] klauspost commented on #632
@JustinAzoff Thanks for the report again.

I have added a fix in #633 - I added a slightly modified version of your reproducer as a test.

I will release a new version shortly.

[2022-06-29 09:12] #632 closed

[2022-07-27 01:55] dsnet opened #647 "proposal: zstd: add DecodedSize function"
I'm trying to implement proper rate-limiting and I'm finding it difficult to adequately rate-limit a server when dealing with untrusted `[]byte` inputs since I don't know how large the decompressed output will end up. I could convert the `[]byte` into a `io.Reader` and perform rate limiting based on the number of bytes read from `zstd.Decoder`, but that seems somewhat unfortunate.

I propose the a

[2022-07-27 07:39] dsnet opened #648 "zstd: WithDecoderMaxMemory does not appear to work"
Consider the [following example](https://go.dev/play/p/YF7r4b9i6kv):
[code]
this currently prints:
[code]
I expect it to print something like:
[code]

The documented behavior of `WithDecoderMaxMemory` says:

Thus, setting it to 1 KiB should cause `Decoder.DecodeAll` to error on inputs that decompress to something larger than 1 KiB. However, that is not the observed behavior.

[2022-07-27 07:53] klauspost commented on #648
@nigeltao You swapped input/output parameters:

[code]

[2022-07-27 07:53] #648 closed

[2022-07-27 07:55] dsnet commented on #648
Eek! Thanks for the quick response.

I've gotten these two mixed up so many times. I wonder if the method should be renamed as `Encoder.AppendEncoded` and `Decoder.AppendDecoded` and have the argument order swapped to match all append-like APIs.

[2022-07-27 08:06] klauspost commented on #647
I would say that unless you have a huge amount of blocks you want to discard, you are much better off just decoding.

Reconstructing the sequences are about 50% of the workload.

For streams the decoding is split, so [sequences are reconstructed](https://github.com/klauspost/compress/blob/3909335c441d115103e37728040269eae87df317/zstd/blockdec.go#L660)  separately from [executing the sequences](htt

[2022-07-27 08:08] klauspost commented on #648
@dsnet As you may be able to see I am very conservative about API changes. But yeah, if we ever do a v2.

[2022-07-27 08:12] dsnet commented on #647
Thanks for the thoughts. I trust your judgement on the cost of this functionality.

Unless I'm missing something, a challenge I'm facing is that there's no efficient way to change the `WithDecoderMaxMemory` for a given `Decoder` without creating a new one.

For example, an untrusted client claims a message decompresses to N number of bytes, and so I account for N number of bytes in the rate-limite

[2022-07-27 08:27] klauspost commented on #647
@dsnet Correct, the max size is set per Decoder. It is mainly there for DOS protection, not as a validation.

While it could be a solution, instead of adding more API, instead we could add a `WithDecodeAllCapLimit(b bool)` that would change the `DecodeAll` to set the maximum decoded size to `cap(dst)-len(dst)` for each call.

How does that sound?

[2022-07-27 08:33] dsnet commented on #647
Technically, rate-limiting exists as a form of DOS protection 😏 . I just happen to be implementing it at a finer granularity than what the API appears to have been designed for.

That would work for my use-case. You could also call it `WithDecodeAllNoAllocate` or something to signal that it doesn't allocate any new buffers.

[2022-07-27 08:37] klauspost commented on #647
Not DDOS, but DOS by "zip bombing" and causing OOM.

While that would likely be a side-effect, I don't want to promise that.

[2022-07-27 10:19] klauspost commented on #647
@nigeltao PTAL at #649

I don't have much time for testing, but added a basic test. Is it possible for you to try it out?

[2022-07-28 08:54] nigeltao commented on #648
Speaking of swapping things, I presume you meant @dsnet. :-)

[2022-07-28 10:36] klauspost commented on #648
@nigeltao 😆 Must be a hash-collision in my brain! Hope you are doing well - sorry for pinging you.

[2022-07-29 10:14] #647 closed

[2022-08-14 14:15] mpenkov opened #650 "Shouldn't zstd decoder Close() method return an error?"
https://github.com/klauspost/compress/blob/5a3a4a965cc6dc28df4962646ef8fba7354cc12e/zstd/decoder.go#L586

That would make it compatible with the io.ReadCloser interface.

Just a suggestion :)

[2022-08-19 08:43] klauspost commented on #650
It should not be used in the same way. Use [IOReadCloser](https://pkg.go.dev/github.com/klauspost/compress/zstd#Decoder.IOReadCloser) to get a compatible version.

[2022-08-19 08:43] #650 closed

[2022-08-23 08:33] klauspost commented on #628
I have been completely unable to reproduce.

Please see if you can create a clean reproducer for me.

[2022-08-23 08:33] #628 closed

[2022-08-29 10:49] oneumyvakin opened #653 "zstd: zstd is 3x slower than zstd linux command?"
Just want to check that I'm doing everything right.

Here the simple encode function:
[code]

[code]

[code]

As you can see there 3x difference.

Is there a way to improve it or it's expected performance?

[code]

[2022-08-29 11:11] klauspost commented on #653
Run it multiple times to be sure one isn't cached and another isn't. Maybe some output buffering could help you or run on VNME.

FWIW times should be approx the same:

[code]

[2022-08-29 17:02] oneumyvakin commented on #653
NVMe doesn't help.

~# time zstd --fast /mnt/nvme0n1p1/4ef369f83f1c626cd356055c3b6c15d6 -o /mnt/nvme0n1p1/4ef369f83f1c626cd356055c3b6c15d6.zstd
/mnt/nvme0n1p1/4ef369f83f1c626cd356055c3b6c15d6 : 51.07%   (4796317696 => 2449328936 bytes, /mnt/nvme0n1p1/4ef369f83f1c626cd356055c3b6c15d6.zstd)

real	0m14.149s
user	0m12.648s
sys	0m4.018s
~# time zstd --fast /mnt/nvme0n1p1/4ef369f83f1c626cd356055c3b6c15d

[2022-08-29 17:13] oneumyvakin commented on #653
Here the another server also NVMe disk:

[code]

[code]

[2022-08-29 17:25] klauspost commented on #653
No idea. This is with Go 1.19 and v1.15.9 library, and this main function:

[code]

[2022-08-31 10:13] oneumyvakin commented on #653
Okay, I've checked that it's no a disk, because reading enwik9 into the memory and decoding to `io.Discard` doesn't improve encoding speed.

And I've found that `zstd.WithEncoderConcurrency(1)` increasing encoding speed dramatically, some kind in 2x times on  Intel(R) Xeon(R) Silver 4216 CPU @ 2.10GHz and 1.5x on AMD EPYC 7502P.

zstd linux CLI is still faster but now it's less than <2x.

[2022-08-31 10:13] #653 closed

[2022-09-05 07:30] #448 closed

[2022-09-05 07:31] klauspost commented on #448
I will not add it, since I see little benefit from it currently. It scales pretty badly and better alternatives are possible.

[2022-09-06 09:04] Nyx2022 opened #654 "zstd memory cost"
hello,everyone,  when i use zstad.SpeedBestCompression with multi times to compresss multi []byte objectes that are different sizes,i found the memory cost will increase to a large number, so i wanna know is  there a method to get the best compression and keep a low memory cost,thakn you !

[2022-09-14 12:20] vigneshraman opened #661 "error: package "encoding/binary" without types was imported"
When building `golang-github-klauspost-compress` from debian bookworm with `golang-1.18` the below error is seen,
[code]

[2022-09-16 10:29] klauspost commented on #661
Seems like a 'stringer' problem. You/they are welcome to send a PR if there is anything I can do on my side.

[2022-09-16 10:29] #661 closed

[2022-09-19 22:35] manishrjain opened #665 "Memory Usage Explosion by zstd"
Hey @klauspost ,

I just switched to using zstd for compression for Outserv boot (/ Dgraph bulk) loader. My map phase produces ~9000 files, which are read concurrently by the reduce phase.

I was using snappy before, and it was working just fine. When I try to read this via zstd, my memory usage just blows up (using 90 GiB).

[code]

I'm opening my reader like so:

`dec, err := zstd.NewReader(fd,

[2022-09-20 06:21] klauspost commented on #665
1) Limit your concurrency. You don't have 9000 cores anyway.
2) Allocate a limited number of Readers. Reuse them using Reset.

Decompressing takes memory. Decompressing 9000x takes huge amount of memory.

[2022-09-20 07:20] klauspost commented on #665
Alternatively content must be [encoded with a very small window](https://pkg.go.dev/github.com/klauspost/compress/zstd#WithWindowSize), but that requires you to be in control of the encoding as well.

You can enforce a [max decoder window](https://pkg.go.dev/github.com/klauspost/compress/zstd#WithDecoderMaxWindow), but it will of course fail decoding if that cannot be satisfied.

[2022-09-20 14:28] #665 closed

[2022-09-20 15:05] manishrjain commented on #665
I switched to using https://github.com/DataDog/zstd, and it works fine. So, the memory issue is specific to this implementation of zstd.

In the reduce step, the loader has to read through all the map files because each file has sorted data. So, it's sort of like 9000 streams that the reducer has to read to achieve global sorting. With datadog zstd, each stream takes around 1 MiB, so the whole thi

[2022-09-23 15:01] bboreham opened #666 "zstd decoder not re-using memory effectively between Reset() and Read()"
I've been stepping through [some decompression code](https://github.com/grafana/loki/blob/93de7a7061f4ada4213874247668ae66480e6695/pkg/chunkenc/memchunk.go) to try to figure out why zstd memory use is much higher than other compression types.

I see that `Reset()` uses the buffer `d.current.b`:
https://github.com/klauspost/compress/blob/697e50752b5ffdc991982a373e20e8093ec7c75a/zstd/decoder.go#L198

[2022-09-23 15:52] bboreham commented on #666
It's not doing exactly the same as my case, but I think `BenchmarkDecoder_DecoderSmall` is a fair illustration:
[code]

It's calling `Reset()`; the Bytes/op should be close to zero.

[2022-09-24 09:08] klauspost commented on #666
You are correct. This is a regression from #649 (and a smaller one from #598)

[2022-09-25 08:37] #666 closed

[2022-10-05 13:59] ICU2020 opened #681 ""illegal combination" error when used in gomobile bind"
I build my android lib with:

gomobile bind -target=android/arm64 -tags='headless' -o=$(my_android_lib) -ldflags="-w -X -s" $(my_dir)

and found the error below:

//# github.com/klauspost/compress/zstd/internal/xxhash
asm: illegal combination: 00072 (<unknown line number>)	PCALIGN	$16 ABCON0 NONE NONE NONE, 4 0
asm: illegal combination: 00072 (<unknown line number>)	PCALIGN	$16 ABCON0 NONE NONE NO

[2022-10-05 14:15] klauspost commented on #681
@lizthegrey Can you take a look at this? Seems like a regression from #464

[2022-10-05 19:16] lizthegrey commented on #681
I think this is a bug in gomobile rather than a problem with the assembly. PCALIGN is a supported operation in Golang. https://github.com/golang/go/blob/master/src/cmd/internal/obj/arm64/doc.go#L54:L94

[2022-10-06 01:42] ICU2020 commented on #681
Is there some ways to walk around?

[2022-10-06 01:56] lizthegrey commented on #681
I don't believe it's essential to PCALIGN for correctness, only performance. You could try building from a branch with those directives removed, or manually add NOPs to make the alignment work out.

Meanwhile I'd recommend filing a bug upstream on the gomobile component.

[2022-10-06 02:05] ICU2020 commented on #681
Thanks a lot for your response. Could you give some advice which branch I should choose to avoid PCALIGN? Thanks.

[2022-10-06 07:11] klauspost commented on #681
@ICU2020 You can build with `-tags=noasm,headless` as a temporary workaround. Feel free to link this issue if you post a bug report for gomobile.

[2022-10-06 07:11] #681 closed

[2022-10-11 07:47] wuanVN0704 commented on #626
Thank you for your quick response, I will try to figure it out if you know
can give me feedback

Vào 11:17 CH, Th 2, 13 thg 6, 2022 Klaus Post ***@***.***> đã
viết:

[2022-10-12 11:34] brancz commented on #140
Apologies for commenting on an old issue, but before opening a new issue I wanted to ask here, are there any plans, or has anyone already written the ability to train a zstd dict in Go? I have a use case I'd love to try zstd dicts for but would prefer to avoid calling out to the binary.

[2022-10-12 13:18] klauspost commented on #140
Follow up in https://github.com/klauspost/compress/discussions/682

[2022-10-12 13:51] brancz commented on #140
Thanks so much for the super fast reply! I think I can validate whether dicts would work for my use case without, but if they do and I happen to look into implementing them I’ll make sure to communicate it on the discussion!

[2022-10-28 14:15] Barceloch opened #686 "Problem installing this module"
$go install github.com/klauspost/compress@latest
go: downloading github.com/klauspost/compress v1.15.12
go: github.com/klauspost/compress@latest: github.com/klauspost/compress@v1.15.12: read "https:/proxy.golang.org/@v/v1.15.12.zip": read tcp 10.126.120.44:42064->74.125.133.128:443: read: connection reset by peer

some help, there is other way to install it?

[2022-10-28 14:23] klauspost commented on #686
This looks like an issue with the proxy you are using.

Can't really help you with that.

[2022-10-28 14:23] #686 closed

[2022-11-13 07:46] ultperf opened #689 "any benchmark in speed and bytes allocation compared with datadog/zstd etc?"
nice work!
any benchmark in speed and bytes allocation compared with datadog/zstd etc?